<div  class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/ng-usuarios" class="navbar-brand cuadro_menu">Usuarios</a>
             <!--ṕara la seccion del responsive-->
            <button class="navbar-toggle menu_boton" type="button" data-toggle="collapse" 
                    data-target="#navbar-main">
                <span class="icon-bar icon_menu"></span>
                <span class="icon-bar icon_menu"></span>
                <span class="icon-bar icon_menu"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav efecto_menu">
                <li class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" 
                        data-toggle="dropdown" 
                        href="#!/ng-supermercados" id="themes"> 
                        Supermercados</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" data-toggle="dropdown" href="#!/ng-registrasuper"> Registrar</a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" data-toggle="dropdown" href="#!/ng-servicios"> Servicios</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right efecto_menu" ng-controller="InicioCtrl">
                <li class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" data-toggle="dropdown" href="!#" ng-show="localStorageDemoValue" ng-bind=" localStorageDemoValue" id="themes">
                        <span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="#!/ng-perfil" class="glyphicon glyphicon-user "> Perfil</a></li>
                        <li class="divider"></li>
                        <li><a href="#!/ng-configuracion" class="glyphicon glyphicon-cog">
                            Configuracion</a></li>
                    </ul>
                </li>
                <li><a href="/logout" class="cuadro_menu" ng-click="clearAll()">Salir</a></li> <!--cerrar sesion-->
            </ul>
        </div>
    </div>
</div> <!--./nabvar-->
