
<nav data-ng-show="isSuperUsuario" class="animation-actions contenedor">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="container"> 

	<!--agregado y editado de servicios-->
    <div data-ng-include="'/com/superuser/views/component/modal-servicios.html'"></div>
    <div data-ng-include="'/com/superuser/views/component/button-service.html'"></div>
        <div data-ng-animate="'fade'" data-ng-init="getServicios()" >
            <!--para separar el contenedor del menu principal-->
            <div class="page-header" id="banner"> 
                <center><h1>Servicios</h1></center>
            </div>
            <div class="bs-component">
                <div class="form-group">
                    <div class="input-group col-lg-12 date">
                        <input type="search" class="form-control" ng-model="q"
                            placeholder="Filtrar Servicios ..." />
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                </div>
            </div>

            <!--panel contenedor-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">  </h3>
                </div>
                <div class="table-responsive ">
                    <table class="table table-striped  table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Espacio de Nombres</th>
                                <th>Desripcion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="hidden"
                                ng-animate="{show: 'fade-show', hide: 'fade-hide'}"
                                ng-repeat="servi in listaservicios | filter:q">

                                <td>{{servi.titulo}}</td>
                                <td>{{servi.namespace}}</td>
                                <td>{{servi.descripcion}}</td>
                                <td>
                                    <a ng-click="editar_service(servi)" 
                                       class="btn btn-primary"
                                       data-toggle="modal"
                                       data-target="#source-modal">
                                        
                                        <i class="fa fa-pencil-square-o">Editar</i> 
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  <!--./panel contenedor-->
        </div>
     </div>
</nav>
