<nav data-ng-show="isSuperUsuario" class="animation-actions contenedor">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="container">

        <!--boton flotate-->
        <!--<div data-ng-include="'/com/superuser/views/component/button-supermercado.html'"></div>
        modal para agregar usuarios-->
        <div data-ng-include="'/com/superuser/views/component/modal-agregar-super.html'"></div>
        <div data-ng-animate="'fade'" data-ng-init="getSupermercados()">
            <div class="page-header" id="banner"> 
                <center><h1>Supermercados</h1></center>
            </div>

            <div class="bs-component">
                <div class="form-group">
                    <div class="input-group col-lg-12 date">
                        <input type="search" class="form-control" ng-model="q"
                            placeholder="Filtrar Supermercados ..." />
                        <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                    </div>
                </div>
            </div>

            <!--panel contenedor-->
            <div class="panel panel-default cuandro_shadow">
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Dirección</th>
                                <th>Administrador</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="hidden"
                                ng-animate="{show: 'fade-show', hide: 'fade-hide'}"
                                ng-repeat="super in listasupermercados | filter:q">

                                <td>{{super.nombre}}</td>
                                <td>{{super.direccion}}</td>
                                <td  ng-init="nombre = getAdministrador(super.id_admin)">
                                {{nombre.nombres}}</td>
                                <td>
                                    <a ng-click="editar_supermercado(super)" 
                                       class="btn btn-primary"
                                       data-toggle="modal"
                                       data-target="#source-modal">
                                        
                                        <i class="fa fa-pencil-square-o">Editar</i> 
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  <!--./panel contenedor-->
        </div>
     </div>
</nav>
