<nav data-ng-show="isSuperUsuario" class="animation-actions contenedor">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="container">

<!--boton flotate borrar de la carpeta components
        <div data-ng-include="'/com/superuser/views/component/floating_button.html'"></div>
        -->
<!--modal para agregar usuarios-->

<div data-ng-include="'/com/superuser/views/component/modal_agregar_usuarios.html'"></div>
    <div data-ng-animate="'fade'" data-ng-init="usuarios_admin()" >
        <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
            <center><h1>Usuarios Administradores</h1></center>
        </div>
        <div class="bs-component">
            <div class="form-group">
                <div class="input-group col-lg-12 date">
                    <input type="search" class="form-control" ng-model="q"
                        placeholder="Filtrar Usuarios ..." />
                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                </div>
            </div>
        </div>

            <!--panel contenedor-->
            <div class="panel panel-default cuandro_shadow">
                <!--<div class="panel-heading">
                    <h3 class="panel-title">  </h3>
                </div>-->
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th>Nombres</th>
                                <th>Apellidos</th>
                                <th>Correo</th>
                                <th>Rol</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-hide="hidden"
                                ng-animate="{show: 'fade-show', hide: 'fade-hide'}"
                                ng-repeat="user in usuariosAdministradores | filter:q">

                                <td>{{user.nombres}}</td>
                                <td>{{user.apellidos}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.rol}}</td>
                                <td>
                                    <a ng-click="editar_admin(user)" 
                                       class="btn btn-primary"
                                       data-toggle="modal"
                                       data-target="#source-modal">
                                        
                                        <i class="fa fa-pencil-square-o">Editar</i> 
                                    </a>
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  <!--./panel contenedor-->
        </div>
     </div>
</nav>
