    <section id="recuperarclave">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recuperar Contraseña</h2>

                    <div id="loginModal">
                        <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                              <h1 class="text-center">Proceso de recuperación</h1>
                          </div>
                          
                          <div class="form col-md-12 center-block">
                            <span>
                              La constraseña no se ha recuperado, intente mas tarde porfavor.Caso contrario comuniquese con el Administrador del sistema.
                            </span>
                          </div>

                          <div class="modal-footer">
                              <div class="col-md-12">
                                <button class="btn btn-primary glyphicon glyphicon-check" 
                                      data-dismiss="modal" 
                                      aria-hidden="true"
                                      type="reset"
                                      ng-click="ShowForm()">
                                      Aceptar</button>
                              </div>
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>