    <section id="recuperarclave">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recuperar Contraseña</h2>

                    <div id="loginModal">
                        <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                              <h1 class="text-center">Proceso de recuperación</h1>
                          </div>
            <form ng-submit="recuperar_contrasenia(recuperar)">
                          <div>
                              <div class="form col-md-12 center-block" 
                                    name="recuperarForm" 
                                    novalidate 
                                    >
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.nombre.$invalid && !recuperarForm.nombre.$pristine }">
                    <h4>Nombre de usuario</h4>
                    <input  type="text" name="nombre" id="nombre" class="form-control" ng-model="recuperar.nombre_usuario" ng-value="{{recuperar.nombre_usuario}}" required>
                    <p ng-show="recuperarForm.nombre.$invalid && !recuperarForm.nombre.$pristine" class="help-block">Requiere un valor.</p> <!--You nombre usuario is required-->
                </div>
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.abuelo.$invalid && !recuperarForm.abuelo.$pristine }">
                    <h4>Nombre del abuelo paterno</h4>
                    <input  type="text" name="abuelo" id="abuelo" class="form-control" ng-model="recuperar.nombre_abuelo" required>
                    <p ng-show="recuperarForm.abuelo.$invalid && !recuperarForm.abuelo.$pristine" class="help-block">Requiere un valor.</p> <!--You abuelo is required-->
                </div>
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.artista.$invalid && !recuperarForm.artista.$pristine }">
                    <h4>Artista favorito</h4>
                    <input  type="text" name="artista" id="artista" class="form-control" ng-model="recuperar.artista_favorito" required>
                    <p ng-show="recuperarForm.artista.$invalid && !recuperarForm.artista.$pristine" class="help-block">Requiere un valor.</p> <!--You artista is required-->
                </div>
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.comida.$invalid && !recuperarForm.comida.$pristine }">
                    <h4>Comida favorita</h4>
                    <input  type="text" name="comida" id="comida" class="form-control" ng-model="recuperar.comida_favorita" required>
                    <p ng-show="recuperarForm.comida.$invalid && !recuperarForm.comida.$pristine" class="help-block">Requiere un valor.</p> <!--You comida is required-->
                </div>
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.color.$invalid && !recuperarForm.color.$pristine }">
                    <h4>Color favorito</h4>
                    <input  type="text" name="color" id="color" class="form-control" ng-model="recuperar.color_favorito" required>
                    <p ng-show="recuperarForm.color.$invalid && !recuperarForm.color.$pristine" class="help-block">Requiere un valor.</p> <!--You color is required-->
                </div>
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.pasatiempo_re.$invalid && !recuperarForm.pasatiempo_re.$pristine }">
                    <h4>Pasatiempo</h4>
                    <input  type="text" name="pasatiempo_re" id="pasatiempo_re" class="form-control" ng-model="recuperar.pasatiempo" required>
                    <p ng-show="recuperarForm.pasatiempo_re.$invalid && !recuperarForm.pasatiempo_re.$pristine" class="help-block">Requiere un valor.</p> <!--You pasatiempo is required-->
                </div>
                <div class="form-group col-lg-12">
                    <!--<button  type="submit" class="btn btn-primary glyphicon glyphicon-send col-lg-3" ng-disabled="recuperarForm.$invalid"> Enviar</button>

                    <button  style="margin-left: 12px;" type="reset" class="btn btn-warning glyphicon glyphicon-remove col-lg-3" ng-click="ShowForm(); reset_mensaje()"> Cancelar</button>-->
                    <div style="color: red ; font-size: 15px;">{{mensajeError}}</div>
                </div>
            
                              
                          </div>
                          <div class="modal-footer">
                              <div class="col-md-12">
                              <button class="btn" 
                                      data-dismiss="modal" 
                                      aria-hidden="true"
                                      type="submit"
                                      ng-disabled="recuperarForm.$invalid"
                                      >Enviar</button>
                              <button class="btn" 
                                      type="reset" 
                                      data-dismiss="modal" 
                                      aria-hidden="true"
                                      ng-click="ShowForm(); reset_mensaje()">
                                    Cancel
                                </button>
                              </div>    
                          </div>
                          </form>
                      </div>
                      </div>
                    </div>


                </div>
            </div>
            
        </div>
    </section>