    <section id="recuperarclave">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Recuperar Contraseña</h2>

                    <div id="loginModal">
                        <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                              <h1 class="text-center">Proceso de recuperación</h1>
                          </div>
                          <div>
                          <form name="formrecuperar" ng-submit="resetear_clave(contrasenia)"  novalidate>
                              <div class="form col-md-12 center-block">
                                     
                    <div class="row">
                        <div style="color: red">  <center >{{msgError}}</center> </div>
                        <!-- contraseña nueva  -->
                        <div class="form-group col-lg-12" ng-class="{ 'has-error' : formrecuperar.contrasenia_nueva.$invalid && !formrecuperar.contrasenia_nueva.$pristine }">
                            <label>Contraseña Nueva</label>
                            <input id="contrasenia_nueva" type="password" name="contrasenia_nueva" class="form-control" ng-model="contrasenia.contrasenia_nueva" required ng-change="reset_mensaje()">
                            <p ng-show="formrecuperar.contrasenia_nueva.$invalid && !formrecuperar.contrasenia_nueva.$pristine" class="help-block">Requiere Valor.</p> <!--You name is required-->
                        </div> 
                        <!-- repita contraseña -->
                        <div class="form-group col-lg-12" ng-class="{ 'has-error' : formrecuperar.recover_p.$invalid && !formrecuperar.recover_p.$pristine }">
                            <label>Repita Contraseña Nueva</label>
                            <input id="recover_p" type="password" name="recover_p" class="form-control" ng-model="contrasenia.contrasenia_nuevarp" required ng-change="reset_mensaje(); checkPassword()" >
                            <p ng-show="formrecuperar.recover_p.$invalid && !formrecuperar.recover_p.$pristine" class="help-block">Requiere Valor.</p> <!--You name is required-->
                        </div> 
                    </div>
                    <!--<center>
                        <button type="submit" class="btn btn-primary glyphicon glyphicon-floppy-disk"   ng-disabled="formrecuperar.$invalid">Guardar</button>    
                        <button type="reset" class="btn btn-warning glyphicon glyphicon-remove" ng-click="ShowForm();">Cancelar</button>
                    </center>-->
                
                              
                          </div>
                          <div class="modal-footer">
                              <div class="col-md-12">
                              <button class="btn" 
                                      data-dismiss="modal" 
                                      aria-hidden="true"
                                      type="submit"
                                      ng-disabled="formrecuperar.$invalid">
                                      Enviar</button>
                              <button class="btn" 
                                      type="reset" 
                                      data-dismiss="modal" 
                                      aria-hidden="true"
                                      ng-click="ShowForm()">
                                      Cancelar
                                </button>

                              </div>    
                          </div>
                          </form>
                      </div>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </section>