<!--listar todas las promociones activas-->

<div data-ng-show="isAdministrador">

    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="page-header">
      <h1 class="text-center index_blanco text_cuadrado"> Analítica </h1>
    </div>
    <div>
      <div class="panel panel-default cuandro_shadow">
        <div class="panel-heading">
          <center><h3 class="panel-title"> Productos mas vendidos </h3></center>
        </div>
        <div class="panel-body">
        <!--buscador de promociones-->
        <div class="bs-component">
            <form ng-submit="productos_mas_vendidos()">
              <div class="form-group">
                  <label class="control-label">mayores o iguales a:</label>
                  <div class="input-group col-lg-12 date">
                      <input type="number"
                             class="form-control"
                             min="0"
                             ng-model="cantidad_vendidos" 
                             placeholder="Filtrar productos mayores i guales a (1,2,3.. 100 etc) veces.."/>
                      <span class="input-group-addon"
                            ng-click="productos_mas_vendidos()">
                          <span class="glyphicon glyphicon-search"></span>
                      </span>
                  </div>
              </div>
            </form>
        </div> <!--./ buscador promociones-->
        <div class="row" id="containervendidos" ng-if="filtroactivo">
        </div>
        <div class="row" ng-if="filtroinactivo">
          <div class="form-group">
            <center>
              <label class="control-label">Productos no encontrados con el filtro aplicado
              </label>
            </center>  
            <center>
              <img src="img/noencontrado.png"
                 alt="no resultado" 
                 class="img-thumbnail">
            </center>
          </div>
          
        </div>
        </div>
      </div>
      <!--productos en stock-->

      <div class="panel panel-default cuandro_shadow">
        <div class="panel-heading">
          <center><h3 class="panel-title"> Productos en stock </h3></center>
        </div>
        <div class="panel-body">
        <!--buscador de promociones-->
        <div class="bs-component">
            <form ng-submit="productos_stock()">
              <div class="form-group">
                  <label class="control-label"> Ingrese un numero para verificar el stock, menores o iguales a: </label>
                  <div class="input-group col-lg-12 date">
                      <input type="number"
                             class="form-control"
                             min="0"
                             ng-model="cantidad_stock" 
                             placeholder="Filtrar stock "/>
                      <span class="input-group-addon"
                            ng-click="productos_stock()">
                          <span class="glyphicon glyphicon-search"></span>
                      </span>
                  </div>
              </div>
            </form>
        </div> <!--./ buscador promociones-->
        <div class="row" id="containerstock" ng-if="stockactive">
        </div>
        <div class="row" ng-if="stockinactive">
          <div class="form-group">
            <center>
              <label class="control-label">Productos no encontrados con el filtro aplicado
              </label>
            </center>  
            <center>
              <img src="img/noencontrado.png"
                 alt="no resultado" 
                 class="img-thumbnail">
            </center>
          </div>
          
        </div>
        </div>
      </div>
</div>
