<!--listar todas las promociones activas-->
<div data-ng-show="isAdministrador">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="page-header">
        <h1 class="text-center index_blanco text_cuadrado"> Listas en Proceso </h1>
    </div>
    <div>
      <div class="panel panel-default cuandro_shadow">
        <div class="panel-heading">
            <h3 class="panel-title"> Panel de listas </h3>
        </div>
        <div class="panel-body" ng-init="cargar_listas('estado_proceso')">
          <div class="row">
            <!--PRECIO DEL PRODUCTO-->
            <div class="col-lg-4 animated bounceInLeft"
              ng-repeat="value in data">
              <div class="bs-component sizeletralista">
                <div class="panel panel-default">
                  <div class="panel-heading"> {{value[2].user[0].nombres}}</div>
                  <div class="panel-body">
                            
                    <ul class="list-group">
                      <li class="list-group-item" 
                        ng-repeat="v in value[0].results | filterColums: cantlist[value[3]]">
                        <table class="table table-striped">
                          <tbody>
                            <tr>
                              <th scope="row">Codigo de barras </th>
                              <td>{{v.cod_barras_prod}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Nombre</th>
                              <td>{{v.nom_prod}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cantidad</th>
                              <td>
                                  <span class="badge">{{v.cantidad}}</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                        <!--{{value[$index].lista}}-->
                      </li>
                     
                     <div class="btn-group btn-group-justified" role="group" aria-label="...">
                      <div class="btn-group" role="group">
                        <button ng-if="value[0].results.length > 1" 
                            ng-click="cargar_mas_productos(value[0].results, value[3]); cargar_nombre(value[3])"
                            ng-init="cargar_nombre_default(value[3])" 
                            type="button"
                            class="btn btn-default"> {{ver[value[3]]}}</button>
                      </div>
                      </div>    
                     <div class="btn-group btn-group-justified" role="group" aria-label="...">
                      <div class="btn-group" role="group">
                        <button ng-if="value[0].results.length === 1" 
                         type="button" class="btn btn-default"> --- </button>
                      </div>
                      </div>
                    </ul>
                           
                     <!--seccion de botones-->   
                     <div data-ng-include="'/com/admin/views/component/botones-estado.html'"></div>    
                    <div class="panel panel-default cuandro_shadow">
                      <span> Pedido : 
                        <center>{{value[1].lista.date_time_pedido | date:'medium'}}</center>
                      </span>
                      <span ng-if="!value[1].lista.entrega"> Entrega:
                        <center>Sin entrega a domicilio</center>
                      </span>
                      <span ng-if="value[1].lista.entrega"> Entregar a:
                        <center>{{value[2].user[0].ubicacion}}</center>
                      </span>
                    </div>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
