<!--listar todas las promociones activas-->
<div data-ng-show="isAdministrador">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="page-header">
      <h1 class="text-center index_blanco text_cuadrado"> Listas Iniciales </h1>
    </div>
    <div>
      <div class="panel panel-default cuandro_shadow">
        <div class="panel-heading">
          <h3 class="panel-title"> Panel de listas </h3>
        </div>

      <div class="panel-body" ng-init="cargar_listas('estado_inicial')">
        <div class="row">
          <!--PRECIO DEL PRODUCTO -->
          <div class="col-lg-4 animated bounceInLeft"
            ng-animate="{enter: 'fade', leave: 'fade'}"
            ng-repeat="value in data">
            <div class="bs-component sizeletralista">
              <div class="panel panel-default">
                <div class="panel-heading"> {{value[2].user[0].nombres}} </div>
                  <div class="panel-body">
                    <ul class="list-group">
                      <li class="list-group-item" 
                        ng-repeat="v in value[0].results | filterColums: cantlist[value[3]]">
                        <table class="table table-striped" id="{{value[3]}}">
                          <tbody>
                            <tr>
                              <th scope="row">Codigo de barras </th>
                              <td>{{v.cod_barras_prod}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Nombre</th>
                              <td>{{v.nom_prod}}</td>
                            </tr>
                            <tr>
                              <th scope="row">Cantidad</th>
                              <td>
                                <span class="badge">{{v.cantidad}}</span>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </li>
                      <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                          <button ng-if="value[0].results.length > 1" 
                            ng-click="cargar_mas_productos(value[0].results, value[3]); cargar_nombre(value[3])"
                            ng-init="cargar_nombre_default(value[3])" 
                            type="button"
                            class="btn btn-default"> {{ver[value[3]]}}</button>
                        </div>
                      </div>    
                      <div class="btn-group btn-group-justified" role="group" aria-label="...">
                        <div class="btn-group" role="group">
                          <button ng-if="value[0].results.length === 1" 
                           type="button" class="btn btn-default"> --- </button>
                        </div>
                      </div>
                    </ul>
                   <!--seccion de botones-->   
                   <div data-ng-include="'/com/admin/views/component/botones-estado.html'"></div>    
                    <div class="panel panel-default cuandro_shadow">
                      <span> Pedido : 
                        <center>{{value[1].lista.date_time_pedido | date:'medium'}}</center>
                      </span>
                      <span ng-if="!value[1].lista.entrega"> Entrega:
                        <center>Sin entrega a domicilio</center>
                      </span>
                      <span ng-if="value[1].lista.entrega"> Entregar a:
                        <center>{{value[2].user[0].ubicacion}}</center>
                      </span>
                    </div>
                    <div class="pull-right">
                      <button class="btn btn-danger toggle" 
                              data-toggle="modal"
                              data-target="#source-modal-export"
                              ng-click="activar_exportar(value[3])">
                        <i class="fa fa-bars"></i> Exportar Lista</button>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--modal para determinar la exportacion-->
    <div id="source-modal-export" class="modal fade">
        <div class="modal-dialog modal-content">
            <div class= "modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Seleccione un formato</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                      <div class="panel-body show" 
                       id="exportTable" style="display:none">
                    <div class="row">
                      <div class="col-md-3">
                          <div class="list-group border-bottom">
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;json&#39;,escape:&#39;false&#39;});"><img src="./librerias/export/json.png" width="24"> JSON</a>
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;json&#39;,escape:&#39;false&#39;,ignoreColumn:&#39;[2,3]&#39;});"><img src="./librerias/export/json.png" width="24"> JSON (ignoreColumn)</a>
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;json&#39;,escape:&#39;true&#39;});"><img src="./librerias/export/json.png" width="24"> JSON (with Escape)</a>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <div class="list-group border-bottom">
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;xml&#39;,escape:&#39;false&#39;});"><img src="./librerias/export/xml.png" width="24"> XML</a>
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;sql&#39;});"><img src="./librerias/export/sql.png" width="24"> SQL</a>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <div class="list-group border-bottom">
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;csv&#39;,escape:&#39;false&#39;});"><img src="./librerias/export/csv.png" width="24"> CSV</a>
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;txt&#39;,escape:&#39;false&#39;});"><img src="./librerias/export/txt.png" width="24"> TXT</a>
                          </div>
                      </div>
                      <div class="col-md-3">
                          <div class="list-group border-bottom">
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;excel&#39;,escape:&#39;false&#39;});"><img src="./librerias/export/xls.png" width="24"> XLS</a>
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;doc&#39;,escape:&#39;false&#39;});"><img src="./librerias/export/word.png" width="24"> Word</a>
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;powerpoint&#39;,escape:&#39;false&#39;});"><img src="./librerias/export/ppt.png" width="24"> PowerPoint</a>
                          </div>
                      </div>
                      <div class="col-md-2">
                          <div class="list-group border-bottom">
                              <a href="http://shoplist-shoplistrk.rhcloud.com/plantilla.html#!/ng-listas" class="list-group-item" onclick="$(&#39;#{{cargar_id_ex}}&#39;).tableExport({type:&#39;pdf&#39;,escape:&#39;false&#39;});"><img src="./librerias/export/pdf.png" width="24"> PDF</a>
                          </div>
                      </div>
                    </div>                               
                  </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class=" btn btn-warning">Cancelar</button>
                </div>
            </div>
        </div>
    </div> <!--./modal de seccion-->

</div>
