 <section id="services"  ng-init="getServicios()">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios</h2>
                <h3 class="section-subheading text-muted">Gestion de modulos.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-3" ng-repeat="servi in listaservicios">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                </span>
                <div>
                <button ng-if="habilitarmodulos(servi.namespace)" 
                        ng-click="desinstalarmodulo(servi.namespace)"
                        class="btn modal-content"> Desintalar </button>

                <button ng-if="!habilitarmodulos(servi.namespace)" 
                        ng-click="instalarmodulo(servi.namespace)"
                        class="btn modal-content" > Instalar </button>
                </div>
                <h4 class="service-heading">{{servi.titulo}}</h4>
                <!--<p class="text-muted">{{servi.descripcion}}</p>-->
                <p>{{servi.descripcion}}</p>

            </div>
            
        </div>
    </div>
</section>