<div data-ng-show="isAdministrador" class="navbar navbar-fixed-top navbar-inverse"
    ng-init="cargarvistasmodulos()">
    <div class="container">
        <div class="navbar-header">
            <a href="#!/ng-bienvenido" class="navbar-brand cuadro_menu">Supermercado</a>
            <!--ṕara la seccion del responsive-->
            <button class="navbar-toggle menu_boton" type="button" data-toggle="collapse" 
                    data-target="#navbar-main1">
                <span class="icon-bar icon_menu"></span>
                <span class="icon-bar icon_menu"></span>
                <span class="icon-bar icon_menu"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main1">
            <ul class="nav navbar-nav efecto_menu">
                <li class="dropdown">
                    <a ng-if="viewPromocion" class="dropdown-toggle cuadro_menu"
                        data-toggle="dropdown" href="!#"
                        id="themes"> Promociones <span class="caret"></span></a>
                    <ul ng-if="viewPromocion" class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="#!/ng-asg-promociones" class="glyphicon glyphicon-edit"> 
                            Asignar Promociones</a></li>
                        <li><a href="#!/ng-promocion" class="glyphicon glyphicon-th-list"> 
                            Promociones</a></li>
                        <li class="divider"></li>

                        <li ><a href="#!/ng-promocion-activa" 
                                data-ng-controller="PromocionActivaCtrl" 
                                data-ng-init="cargar_cantidad_promo_activas()" 
                                data-ng-click="cargar_cantidad_promo_activas()" 
                                class="glyphicon glyphicon-globe" > Promocion(es) Activa(s) 
                                <span class="badge " style="background-color: red">{{numero_promociones_disponibles}}</span></a></li>
                    </ul>
                </li>
                <li ng-if="viewUbicacionP" class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" data-toggle="dropdown" href="!#">
                        Ubicacion<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="#!/ng-secciones" class="glyphicon glyphicon-th"> Secciones </a></li>
                        <li><a href="#!/ng-ubicacion" class="glyphicon glyphicon-map-marker"> Aginar Ubicacion </a></li>
                        <li class="divider"></li>
                        <li><a href="#!/ng-prd-sin-ubicacion" data-ng-controller="PromocionActivaCtrl" 
                               data-ng-init="cargar_cantidad_productos_sin_ubicacion()">
                               Productos sin ubicacion<span class="badge badge-assertive">{{numero_productos_sin_asg}}</span></a></li>
                    </ul>
                </li>

                <li ng-if ="viewListas" class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" data-toggle="dropdown" href="!#">
                        Pedidos<span class="caret"></span></a>
                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="#!/ng-listas" class="glyphicon glyphicon-book"> Inicial </a></li>
                        <li>
                            <a href="#!/ng-lproceso" class="glyphicon glyphicon-th"> Proceso </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#!/ng-ldespachadas" class="glyphicon glyphicon-ok"> Despachadas</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" data-toggle="dropdown" href="#!/ng-productos"> Productos</a>
                </li>
                <li ng-if="viewAnalitica" class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" data-toggle="dropdown" 
                       href="#!/ng-analitica">Analítica
                    </a>
                </li>

            </ul>
            <ul class="nav navbar-nav navbar-right efecto_menu" ng-controller="InicioCtrl">
                <li class="dropdown">
                    <a class="dropdown-toggle cuadro_menu" data-toggle="dropdown" 
                        href="!#" ng-show="localStorageDemoValue"
                        ng-bind="localStorageDemoValue"id="themes">
                        <span class="caret"></span></a>

                    <ul class="dropdown-menu" aria-labelledby="themes">
                        <li><a href="#!/ng-perfil" class="glyphicon glyphicon-user"> Perfil</a></li>
                        <li><a href="#!/ng-modulos" class="glyphicon glyphicon-th"> Modulos</a></li>
                        <li class="divider"></li>
                        <li><a href="#!/ng-configuracion" class="glyphicon glyphicon-cog"> Configuracion</a></li>
                    </ul>
                </li>
                <li><a href="/logout" class="cuadro_menu" ng-click="clearAll()">Salir</a></li> <!--cerrar sesion-->
            </ul>
        </div>
    </div>
</div> <!--./nabvar-->
