<nav data-ng-show="isAdministrador" class="animation-actions contenedor">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="container"
         ng-init="cargarFiltroSecciones()">

        <div data-ng-animate="'fade'" >
            <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
                <center><h1>Productos</h1></center>
            </div>
            <!--boton flotate-->
            <div data-ng-include="'/com/admin/views/component/floating-button-product.html'"></div>
            <div data-ng-show="visibleFormProducto" 
             data-ng-animate="{enter: 'view-enter'}"  
             data-ng-include="'./com/admin/views/component/agregar-producto.html'">
            </div>

            <form ng-submit="buscar_productos()">

                <div class="panel content_plom"
                    data-ng-animate="'fade'" >

                    <div class="panel-heading sombrear">
                        <h3 class="panel-title"></h3>
                    </div>
                    <!--seccion de agregar nueva-->
                    <div class="panel-body">
                        <div class="row">
                            <!--Productos-->
                            <div class="col-lg-9">
                                <div class="input-group date">
                                    <input  type="text"
                                            ng-model="texto_buscar" 
                                            ng-value="{{texto_buscar}}" 
                                            class="form-control" 
                                            placeholder="Buscar nombre producto o codigo de barra">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" 
                                                ng-click="buscar_productos()" 
                                                type="button">Buscar!</button>
                                    </span>
                                </div>
                            </div> <!--/. productos-->

                             <div class="col-lg-3">
                                <div class="input-group date">
                                    <select class="form-control" 
                                        ng-model="secciones_select" 
                                        ng-options="sc.nombre for sc in ubicaciones"
                                        ng-change="filtrarProductos()">
                                        <option value="" >--Filtrar por--</option>
                                    </select> 
                                    <span class="input-group-addon"></span>
                                </div>
                            </div> <!--/. promocion-->
                        </div>
                    </div>
                </div>


            </form>

            <!--panel contenedor-->
            <div class="panel panel-default cuandro_shadow">
                <div class="panel-heading">
                    <h3 class="panel-title"> Buscar Productos  </h3>
                </div>
                <div class="table-responsive ">
                    <table class="table table-striped  table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>codigo barra</th>
                                <th>nombre</th>
                                <th>precio</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="producto in productos_buscados">
                                <td>
                                    <div ng-if="producto.imagen">
                                        <img style="width: 100px ; height: 100px ; min-width: 100px" 
                                        src="img/files/{{producto.imagen}}" alt="producto" 
                                        class="img-thumbnail">
                                    </div>
                                </td>
                                <td style="line-height: 100px">{{producto.cod_barras_prod}} </td>
                                <td style="line-height: 100px"> {{producto.nom_prod}}</td>
                                <td style="line-height: 100px"> {{producto.pvp_prod}}</td>
                                <td>
                                    <button class="btn btn-info glyphicon glyphicon-plus" ng-click="editar_producto(producto)">Editar</button>
                                    <button data-toggle="modal"
                                            data-target="#source-modal-productos" 
                                            class="btn btn-info glyphicon glyphicon-plus" 
                                            ng-click="detalles_producto(producto)">Ver</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>  <!--./panel contenedor-->
            <!--modal para detalles de producto-->
        <div data-ng-include="'/com/admin/views/component/detalles-producto.html'"></div>
        </div>
    </div>
</nav>
