h1 {
  font-size:40px;
}

h2 {
  font-size:20px;
  margin-bottom:10px;
  
}

#wrapper {
  padding-top:60px;
}

.app-loading-container {
  float:left;
  margin-right:20px;
  width:25px;
  height:25px;
}

.app-loading-animation {
  -webkit-transition:all 0.25s linear;
  background:url(./lib/spinner.gif) center center no-repeat;
  width:25px;
  height:25px;
  display:block;
}

.app-loading-animation.ready {
  opacity:0;
}

.app-loading-animation,
.app-loading-animation.loading {
  opacity:1;
}

#footer {
  position:fixed;
  bottom:0;
  left:0;
  right:0;
  background:black;
  padding:1em;
  box-shadow:0 -5px 20px #555;
}
#footer a {
  color:silver;
  text-decoration:none;
}
#footer .cloud-link {
  float:right;
}

.tweet-record img {
  float:left;
  margin-right:10px;
}

.tweet-record {
  clear:both;
}

.tweet-record.repeat-enter {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  opacity:0;
  height:0;
  position:relative;
}

.repeat-enter.repeat-enter-active {
  opacity:1;
  height:50px;
}

.repeat-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  opacity:1;
  position:relative;
  height:50px;
  left:0;
}

.repeat-leave.repeat-leave-active {
  opacity:0;
  height:0;
}

.tweet-record {
  position:relative;
  height:50px;
  overflow:hidden;
}

.tweet-record .inner {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.repeat-show,
.repeat-hide {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.repeat-show {
  opacity:0;
  top:-30px;
}
.repeat-show-active {
  opacity:1;
  top:0;
}

.repeat-hide {
  opacity:1;
  top:0;
}
.repeat-hide-active {
  opacity:0;
  top:-30px;
}

.tweet-records {
  position:relative;
  min-height:100px;
}

.no-tweets {
  background:rgba(255,255,255,0.5);
  padding:5px;
  top:0;
  left:0;
  right:0;
  z-index:100;
  border:1px solid #aaa;
  position:absolute;
}

.calendar {
  width:100%;
}

.calendar .cell {
  width:12%;
  text-align:right;
  padding:10px;
  height:100px;
  border:1px solid #ddd;
}

.calendar .cell.outer {
  background:#f5f5f5;
}

.calendar-active {
  font-size:2em;
  text-align:center;
  line-height:80px;
}

.fade-hide, .fade-show,
.calendar-hide, .calendar-show {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.fade-hide,
.calendar-hide {
  opacity:1;
}
.fade-hide.fade-hide-active,
.calendar-hide.calendar-hide-active {
  opacity:0;
}

.fade-show,
.calendar-show {
  opacity:0;
}
.fade-show.fade-show-active,
.calendar-show.calendar-show-active {
  opacity:1;
}

#ng-view {
  position:relative;
  min-height:500px;
}

.view-enter, .view-leave, .slide-enter, .slide-leave, .wave-enter, .wave-leave {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.view-enter {
  opacity:0;
  left:100px;
  width:100%;
  position:absolute;
}
.view-enter.view-enter-active {
  left:0;
  opacity:1;
}

.view-leave {
  position:absolute;
  left:0;
  width:100%;
  opacity:1;
}
.view-leave.view-leave-active {
  left:-100px;
  opacity:0;
}

.active-cell-frame {
  background:#ddd;
  border-radius:20px;
}

.slide-frame {
  position:relative;
  height:200px;
  overflow:hidden;
}

.slide-frame > div {
  width:100%;
}

.slide-enter {
  position:absolute;
  left:0;
  top:-100px;
}

.slide-enter-active {
  top:0;
}

.slide-leave {
  position:absolute;
  top:0;
}

.slide-leave-active {
  top:200px;
}

.wave-enter {
  position:absolute;
  left:100%;
}

.wave-enter-active {
  left:0;
}

.wave-leave {
  position:absolute;
  left:0;
}

.wave-leave-active {
  left:-100%;
}

.animation-actions > a {
  float:left;
  margin-left:1em;
}

body.skip-animations * {
  -webkit-transition:none!important;
  -moz-transition:none!important;
  -o-transition:none!important;
  transition:none!important;
}

.tweet-record.repeat-move {
  -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -moz-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  -o-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

  background:red;
}

.tweet-record.repeat-move.repeat-move-active {
  background:blue;
}

.formatoAboutImg{
  height: 156px;
}

.clientes-nombres{
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.topPaypal {
  margin-top: 18px;
}
.politica-privacidad {
    box-shadow: -5px 5px 5px #58ACFA;
}

section#politica {
  background-color: #222;
  background-position: center;
  background-repeat: no-repeat;
}