

/* ==========================================================================
   Author's ralexs
   ========================================================================== */


/*stilos index*/

body{
 background-color: #BDBDBD;
}
.content_central_img{
    background-image: url(../img/fondo_principal.png);
    background-position: center center;
    background-size: 100% 100%;
    background-repeat: no-repeat;

}

.contenedor_central{
    position: absolute;
    width: 80%;
    height: 300px;
    margin-top: 50px;
    border-radius: 10px;
}
.contenedor_index{
    background-color: #BDBDBD;
    height: 92.71%;
    width: 100%;
    position: absolute;
}
.fondo_principal{
    background-image: url(../img/super1.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.fondo_blanco_negro{
    background: linear-gradient( white , black);
}
.letrascentral{
    color: red;
    position: absolute;
}
.imagenempresaindex{
    width: 100%;
    border-radius: 12px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
/*titulo sistema*/
.titleSistema{
    position: relative;
    font: oblique 120% sans-serif bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}

.titleSistema:hover{
    -webkit-transform: rotateY(10deg);
}
.pie_pagina{
    margin-top:470px;
    height:87px;
}

.mensajePiePagina{
    height: 40px;
    box-shadow: 10px 10px 5px grey;
}
.letras_pie_pagina:hover{
    font: oblique 120% sans-serif bold;
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
}
.letras_pie_pagina{
    font-family: "calibri" , Garamond , 'Comic Sans' ;
    font-weight: bold;
    color: white;
    margin-top: 30px;
    padding-top: 5px;
}
.fondo_negro{
    background-color: black;
}
.letras_blancas{
    color: white;
}
.letras_blancas:hover{
    color: #ECE8F4;
}
.navbar-fondo{
 background-color: #337ab7;
}
.menu_boton{
  background-color: #5882FA;
  border: 1px solid black;
}
.icon_menu{
  background-color: black;
}

