body{
  background-color: #CEE3F6;
}

ul.err-area li{color:red}
.data-table{float:left;display:inline-block}
.data-table table{border-collapse:collapse;border:1px solid #ddd;}
.page-data{float:left;display:inline-block;}

.contenedor_pructos_buscados{
    background-color: blue;
    height :600px;
    overflow: auto;
    position: absolute;
}
/*controlar imagenes ubicacion*/
.imagen{
    width: 12px;
    height: 12px;
    background-color: red;
}

/*controlar mensajes de error*/
.mensajesError{
    color: red;
    font-size:12px;
}

/*para centrar el texto en las tablas  por el producto*/
.table_space{
    line-height: 100px;
}
.sombrear{
  background-color: #11c1f3;
  color: black;
}
.sombrear:hover{
    background-color: #81BEF7;
    color: black;
    font-size:14px;

}
.text_area{
    background-color: #dff0d8;
    color: black;
}
.editar_index{
    color: black;
}
.color_encazado_index{
    background-color: mediumspringgreen;
    color: black;
}
.content_plom{
    background-color: #dff0d8;
}

/*imagen gira*/
#f1_container {
    position: relative;
    margin: 10px auto;
    width: 180px;
    height: 180px;
    z-index: 1;
}
#f1_container {
    perspective: 1000;
}
#f1_card {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}
/*#f1_container:hover #f1_card {
    transform: rotateY(180deg);
    box-shadow: -5px 5px 5px #aaa;
}*/
.icono-camera{

}
.icono-camera:hover{
  width: 10%;
  height: 10%;
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.face.back {
    display: block;
    transform: rotateY(180deg);
    box-sizing: border-box;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaa;
}
.index_blanco{
    color: black;
}
.fondo_general{
  background-image: url(../img/fondo1.jpg);
  background-position: center center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  margin-bottom: 150px;
}
.border_index{
    text-shadow: -3px 3px 3px black ;
}
.text_cuadrado{
      text-shadow: -5px 5px 5px #aaa;
}
.cuandro_shadow {
    box-shadow: -5px 5px 5px #aaa;
}
.cuadro_menu {
  color : white;
}
.cuadro_menu:hover{
  color:black;
  background-color: #2E64FE;
}
.efecto_menu>li>a:hover{
  background-color: #2E64FE;
}
.icon_menu{
  background-color: black;
}
.menu_boton{
  background-color: #0040FF;
  border: 1px solid black;
}
.cuandro_shadow_index{
    box-shadow: -5px 5px 5px #58ACFA;
}
.cuandro_shadow_index:hover{
    box-shadow: -5px 5px 5px #CEF6EC;
}
.texto_3D{
    color:#FFF;
  text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}
.size_title_box{
    font-size: 22px;
}
.title_app_sis{
    font-family: "calibri" , Garamond , 'Comic Sans' ;
    font-weight: bold;
}

/*Plantilla*/
.pie_pagina_plantilla{
    background-color: black;
    margin-top: 41px;
    width: 100%;
    position: absolute;
}

/*Fin Plantilla*/
.color_negro{
    color:#555;
}

.title_r{
  text-shadow: 0 1px 0 #bbb,
                   0 2px 0 #bbb,
                   0 3px 0 #aaa,
                   0 4px 0 #aaa,
                   0 5px 0 #999,
                   0 6px 1px #000,
                   0 0px 3px #000,
                   0 1px 3px #000,
                   0 3px 5px #000,
               0 5px 10px #000,
               0 5px 20px #000;
}

/*css para la geolocalizacion*/
#map-canvas{
       background-color: #ddd;
       height: 353px;
        margin: 2px;
        padding: 2px;
        border-color: red;
        border: 1px;
}
/*menu*/
.navbar_mobil{
    background-color: #0c63ee;
}

.boton-menu{
  margin-top: 100px;
  padding-top: 100px;
}


#map{
  background-color: gray;
  height: 480px;
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.subeArchivo input.subir {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}

.sizeletralista {
  font-size: 12px;
}