<ul id="menu" class="mfb-component--br mfb-zoomin" data-mfb-toggle="hover">
    <li class="mfb-component__wrap">
        <a class="mfb-component__button--main" >
          <i class="mfb-component__main-icon--resting fa fa-bars"></i>
          <i class="mfb-component__main-icon--active fa fa-angle-double-up"></i>
        </a>
        <ul class="mfb-component__list">
            <li>
              <a data-toggle="modal"
                 data-target="#source-modal"
                 data-mfb-label="agregar servicio"
                 class="mfb-component__button--child"
                 ng-click="limpiar_modal()">

                  <i class="mfb-component__child-icon fa fa-plus"></i>

              </a>
          </li>
      </ul>
  </li>
</ul>