<!--modal para buscar productos-->
<div id="source-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Servicios</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <form name="modeloServicioForm" novalidate>
                        <!--titulo-->

                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : modeloServicioForm.titulo.$invalid && !modeloServicioForm.titulo.$pristine }">
                            <h4>Nombre</h4>
                            <input  type="text" name="titulo" id="titulo" class="form-control" ng-model="modeloServicio.titulo" required ng-disabled="editar">

                            <p ng-show="modeloServicioForm.titulo.$invalid && !modeloServicioForm.titulo.$pristine"
                                class="help-block">Requiere un valor.</p>
                        </div>

                        <!--namespace-->
                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : modeloServicioForm.namespace.$invalid && !modeloServicioForm.namespace.$pristine }">
                            <h4>Espacio de nombres</h4>
                            <input  type="text" name="namespace" id="namespace" class="form-control" 
                                ng-model="modeloServicio.namespace"
                                required ng-disabled="editar">

                            <p ng-show="modeloServicioForm.namespace.$invalid && !modeloServicioForm.namespace.$pristine"
                                class="help-block">Requiere un valor.</p>
                        </div>

                        <!--Descripcion-->
                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : modeloServicioForm.descripcion.$invalid && !modeloServicioForm.descripcion.$pristine }">
                            <h4>Descripcion</h4>
                            <input  type="text" name="descripcion" id="descripcion" class="form-control" ng-model="modeloServicio.descripcion"
                                required ng-disabled="editar">

                            <p ng-show="modeloServicioForm.descripcion.$invalid && !modeloServicioForm.descripcion.$pristine" class="help-block">Requiere un valor.</p>
                        </div>

                     
                        <center>

                            <button ng-show="isguardado" type="submit" 
                                    class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                                    ng-disabled="modeloServicioForm.$invalid"
                                    ng-click="saveService(modeloServicio)"
                                    data-dismiss="modal" > Guardar </button>

                            <button ng-show="iseditado" type="submit" 
                                    class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                                    ng-disabled="modeloServicioForm.$invalid"
                                    ng-click="guardar_edit_servicio(modeloServicio)"
                                    data-dismiss="modal" > Guardar Edición </button>

                            <button type="reset" data-dismiss="modal" 
                                    class="btn btn-warning glyphicon glyphicon-remove"
                                    ng-click="getCancelar()"> 
                                    Cancelar </button>
                        </center>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!--./modal agregar descripcions administradores-->
