<!--modal para buscar productos-->
<div id="source-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Usuario Administrador</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <form name="modeloUserAdminForm" novalidate>
                        <!--Nombres-->

                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : modeloUserAdminForm.nombres.$invalid && !modeloUserAdminForm.nombres.$pristine }">
                            <h4>Nombres</h4>
                            <input  type="text" name="nombres" id="nombres" class="form-control" ng-model="modeloUser.admin_nombres" required ng-disabled="editar">

                            <p ng-show="modeloUserAdminForm.nombres.$invalid && !modeloUserAdminForm.nombres.$pristine"
                                class="help-block">Requiere un valor.</p>
                        </div>

                        <!--Apellidos-->
                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : modeloUserAdminForm.apellidos.$invalid && !modeloUserAdminForm.apellidos.$pristine }">
                            <h4>Apellidos</h4>
                            <input  type="text" name="apellidos" id="apellidos" class="form-control" ng-model="modeloUser.admin_apellidos"
                                required ng-disabled="editar">

                            <p ng-show="modeloUserAdminForm.apellidos.$invalid && !modeloUserAdminForm.apellidos.$pristine"
                                class="help-block">Requiere un valor.</p>
                        </div>

                        <!--nombre usuario-->
                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : modeloUserAdminForm.usuario.$invalid && !modeloUserAdminForm.usuario.$pristine }">
                            <h4>Nombre usuario</h4>
                            <input  type="text" name="usuario" id="usuario" class="form-control" ng-model="modeloUser.admin_usuario"
                                required ng-disabled="editar">

                            <p ng-show="modeloUserAdminForm.usuario.$invalid && !modeloUserAdminForm.usuario.$pristine" class="help-block">Requiere un valor.</p>
                        </div>

                        <!--Correo-->
                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : modeloUserAdminForm.correo.$invalid && !modeloUserAdminForm.correo.$pristine }">
                            <h4>Correo</h4>
                            <input  type="email" name="correo" id="correo" class="form-control" ng-model="modeloUser.admin_correo" required ng-disabled="editar">

                            <p ng-show="modeloUserAdminForm.correo.$invalid && !modeloUserAdminForm.correo.$pristine" class="help-block">Ingrese un correo válido.</p>
                        </div>

                        <!--contrasenia-->
                        <div class="form-group col-lg-12" 
                            ng-class="{ 'has-error' : modeloUserAdminForm.contrasenia.$invalid && !modeloUserAdminForm.contrasenia.$pristine }">
                            <h4>Contrasenia</h4>
                            <input  type="text" name="contrasenia" id="contrasenia" class="form-control" ng-model="modeloUser.admin_contrasenia" required ng-disabled="editar">
                            <p ng-show="modeloUserAdminForm.contrasenia.$invalid && !modeloUserAdminForm.contrasenia.$pristine" class="help-block">Requiere un valor.</p>
                        </div>

                        <!--verificar contrasenia-->
                        <!--<div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : modeloUserAdminForm.admin_contraseniarp.$invalid && !modeloUserAdminForm.admin_contraseniarp.$pristine }" >
                            <h4>Repita constraseña</h4>
                            <input  type="password" name="color" class="form-control" ng-model="modeloUser.admin_contraseniarp" required ng-disabled="editar" ng-change="checkPassword(modeloUserAdminForm , modeloUser)">
                           
                           <p ng-show="modeloUserAdminForm.admin_contraseniarp.$invalid && !modeloUserAdminForm.admin_contraseniarp.$pristine" class="help-block">Requiere Valor.</p>
                            <p ng-show="modeloUserAdminForm.admin_contraseniarp.$dirty && modeloUserAdminForm.admin_contraseniarp.$error.dontMatch" class="help-block" style="color:red" >Contraseñas no coinciden!</p>

                        </div>-->

                        <!--rol-->
                        <div class="form-group col-lg-12">
                            <h4>Rol</h4>

                            <div class="input-group date" >
                                <select class="form-control" id="rol" ng-model="modeloUser.admin_rol"  ng-disabled="modeloUser.admin_rol === 'superusuario'"> 
                                <option value="administrador"> administrador </option>
                                <option value="superusuario"> superusuario </option>
                                </select> 
                                 <span class="input-group-addon"></span>
                            </div>

                        </div>                       

                        <!-- TODO: corregir que se desabilite el boton cuando las constrseñas no coincidan-->
                        <center>
                            <!--<button type="submit" class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                            ng-disabled="modeloUserAdminForm.$invalid || modeloUserAdminForm.admin_contraseniarp.$error.dontMatch" 
                            ng-click="guardar_adminitrador(modeloUser)"> Guardar </button>-->

                            <button ng-show="isguardado" type="submit" 
                                    class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                                    ng-disabled="modeloUserAdminForm.$invalid"
                                    ng-click="guardar_administrador(modeloUser)"
                                    data-dismiss="modal" > Guardar </button>

                            <button ng-show="iseditado" type="submit" 
                                    class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                                    ng-disabled="modeloUserAdminForm.$invalid"
                                    ng-click="guardar_edit_admin(modeloUser)"
                                    data-dismiss="modal" > Guardar Edición </button>

                            <button type="reset" data-dismiss="modal" 
                                    class="btn btn-warning glyphicon glyphicon-remove"> 
                                    Cancelar </button>
                        </center>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!--./modal agregar usuarios administradores-->
