<!--modal para buscar productos-->
<div id="source-modal" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Agregar Supermercado</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <form name="direccionForm" novalidate data-ng-init="getAdministradores()">
                        <!--Nombres-->

                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : direccionForm.nombre.$invalid && !direccionForm.nombre.$pristine }">
                            <h4>Nombre</h4>
                            <input  type="text" name="nombre" id="nombre" class="form-control" ng-model="modeloUser.nombre" required ng-disabled="editar">

                            <p ng-show="direccionForm.nombre.$invalid && !direccionForm.nombre.$pristine"
                                class="help-block">Requiere un valor.</p>
                        </div>

                        <!--direccion-->
                        <div class="form-group col-lg-12"
                            ng-class="{ 'has-error' : direccionForm.direccion.$invalid && !direccionForm.direccion.$pristine }">
                            <h4>Direccion</h4>
                            <input  type="text" name="direccion" id="direccion" class="form-control" ng-model="modeloUser.direccion"
                                required ng-disabled="editar">

                            <p ng-show="direccionForm.direccion.$invalid && !direccionForm.direccion.$pristine"
                                class="help-block">Requiere un valor.</p>
                        </div>


                        <!--administrador-->
                        <div class="form-group col-lg-12">
                            <h4>Administrador : {{adminseleccionado}}</h4>

                            <div class="input-group date " >
                                <select 
                                class="form-control" ng-model="modelUser.admin" ng-options="seccion_select.nombres for seccion_select in getAllAdministradores">
                                    <option value=""  ></option>
                                </select> 
                                <span class="input-group-addon"></span>
                            </div>

                        </div>                       

                        <center>
                            <!--<button type="submit" class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                            ng-disabled="direccionForm.$invalid || direccionForm.admin_contraseniarp.$error.dontMatch" 
                            ng-click="guardar_adminitrador(modeloUser)"> Guardar </button>-->

                            <button ng-show="isguardado" type="submit" 
                                    class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                                    ng-disabled="direccionForm.$invalid"
                                    ng-click="saveSupermercado(modeloUser, modelUser.admin)"
                                    data-dismiss="modal" > Guardar </button>

                            <button ng-show="iseditado" type="submit" 
                                    class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                                    ng-disabled="direccionForm.$invalid"
                                    ng-click="guardar_edit_supermercado(modeloUser, modelUser.admin)"
                                    data-dismiss="modal" > Guardar Edición </button>

                            <button type="reset" data-dismiss="modal" 
                                    class="btn btn-warning glyphicon glyphicon-remove"> 
                                    Cancelar </button>
                        </center>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div> <!--./modal agregar usuarios administradores-->
