<!--pie de pagina-->
<div class="pie_pagina">
    <div class="container">
         <center>
             <div class="letras_pie_pagina mensajePiePagina  btn-primary">
                 <h4> Shop-List Administración</h4>
             </div>
         </center>
    </div>
</div>