<br/>
<br/>
<br/>
<div data-ng-animate="'fade'"> 
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Proceso de Recuperacion de Contraseña 2/2</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <form name="formrecuperar" ng-submit="resetear_clave(contrasenia)"  novalidate>  
                    <div class="row">
                        <div style="color: red"> <center >{{msgError}}</center> </div>
                        <!-- contraseña nueva  -->
                        <div class="form-group col-lg-12" 
                            ng-class="{ 'has-error' : formrecuperar.contrasenia_nueva.$invalid && !formrecuperar.contrasenia_nueva.$pristine }">
                            <label>Contraseña Nueva</label>
                            <input id="contrasenia_nueva" type="password" name="contrasenia_nueva" 
                                class="form-control" ng-model="contrasenia.contrasenia_nueva" required 
                                ng-change="reset_mensaje()">
                            <p ng-show="formrecuperar.contrasenia_nueva.$invalid && !formrecuperar.contrasenia_nueva.$pristine" class="help-block">Requiere Valor.</p> <!--You name is required-->
                        </div> 
                        <!-- repita contraseña -->
                        <div class="form-group col-lg-12" ng-class="{ 'has-error' : formrecuperar.recover_p.$invalid && !formrecuperar.recover_p.$pristine }">
                            <label>Repita Contraseña Nueva</label>
                            <input id="recover_p" type="password" name="recover_p" class="form-control" 
                                ng-model="contrasenia.contrasenia_nuevarp" required 
                                ng-change="reset_mensaje(); checkPassword()" >
                            <p ng-show="formrecuperar.recover_p.$invalid && !formrecuperar.recover_p.$pristine" class="help-block">Requiere Valor.</p> <!--You name is required-->
                        </div> 
                    </div>
                    <center>
                        <button type="submit" class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                            ng-disabled="formrecuperar.$invalid">Guardar</button>    
                        <button type="reset" class="btn btn-warning glyphicon glyphicon-remove" 
                            ng-click="ShowForm();">Cancelar</button>
                    </center>
                </form>        
            </div>
        </div>
    </div>
</div>