<div>
    <br/>
    <br/>
    <br/>
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Proceso de recuperación </h3>
        </div>
        <div class="panel-body">
            <p>
                La constraseña a sido recuperada satisfactoriamente. Ingrese al Sistema con el nombre se USUARIO y la CONTRASEÑA
                restablecida con anterioridad.
            </p>
            <center><button  type="reset" class="btn btn-primary glyphicon glyphicon-check col-lg-3" 
                ng-click="ShowForm();"> Aceptar </button></center>
        </div>
    </div>
</div>
