<div>
    <br/>
    <br/>
    <br/>
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Proceso de recuperacion</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <p>La constraseña no se ha recuperado, intente mas tarde porfavor. Caso contrario comuniquese con el 
                    Administrador del sistema.
                </p>
                <center><button   type="reset" class="btn btn-primary glyphicon glyphicon-remove col-lg-3" 
                    ng-click="ShowForm();"> Aceptar</button></center>
            </div>
        </div>
    </div>
</div>
