<div class="fondo_principal">
    <br>
    <br>
    <br>  
    <!-- bienvenido
 ================================================== -->
    <div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!--<div class="titleSistema">
                        <h1>Shop-List</h1>
                    </div>-->
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 ">
                            <div class="contenedor_central content_central_img">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>  

    <!--incluir el pie de pagina-->
    <div data-ng-include="'./templates/index/footerindex.html'"></div>
</div>

