<div data-ng-show="isAdministrador">
<div ng-init="cargar_promociones_asg()">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>

    <div class="panel panel-default cuandro_shadow">
        <div class="panel-heading">
            <center>
                <h2 class="panel-title"> 
                    Asignar Promociones
                </h2>
            </center>
        </div>
        <div class="panel-body">
            <!--inicio de agregar nueva promocion-->
            <div ng-controller="PromocionesCtrl">
                <a ng-click="mostrarOcultarForm();
                            cargar_promociones();
                            resetvalores()"
                            class="btn btn-primary fa fa-plus"
                            ng-show="mostartocultarboton"> Nueva</a>
                <h1></h1><!--separar -->

                <div class="panel content_plom"
                    ng-show="mostartocultarform"
                    data-ng-animate="'fade'" >

                    <div class="panel-heading sombrear">
                        <h3 class="panel-title">Nueva Promoción</h3>
                    </div>
                    <!--seccion de agregar nueva-->
                    <div class="panel-body">
                        <div class="row">
                            <!--Promocion-->
                            <div class="col-lg-3">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <label class="control-label">Promoción</label>
                                        <div class="input-group date">
                                            <select class="form-control" 
                                                ng-model="promo_select" 
                                                ng-options="promo_select.nombre for promo_select in promociones" 
                                                ng-change="reset_msg_promo()" 
                                                required="true">
                                                <option value=""  >--Selecione una Promocion--</option>
                                            </select> 
                                            <span class="input-group-addon"></span>
                                        </div>
                                        <div class="mensajesError"> {{mensaje_promocion}} </div> 
                                    </div>
                                </div>
                            </div> <!--/. promocion-->
                            <!--Fecha inicio-->
                            <div class="col-lg-3">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <label class="control-label">Fecha Inicio</label>
                                        <div class="input-group date" ng-click="reset_msg_fechainicio()">
                                            <datepicker date-format="yyyy-MM-dd" 
                                                button-prev="<i class='fa fa-arrow-left'></i>" 
                                                button-next="<i class='fa fa-arrow-right'></i>">
                                                <input id="fecha_inicio" class="form-control" 
                                                    type="text">
                                            </datepicker>
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                        <div class="mensajesError">{{mensaje_fecha}}</div>
                                    </div>
                                </div>
                            </div> <!--./ fecha inicio-->
                            
                            <div class="col-lg-3">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <label class="control-label">Fecha Fin</label>
                                        <div class="input-group date"  ng-click="reset_msg_fechafin()">
                                            <datepicker date-format="yyyy-MM-dd" 
                                                button-prev="<i class='fa fa-arrow-left'></i>" 
                                                button-next="<i class='fa fa-arrow-right'></i>">
                                                <input id="fecha_fin" class="form-control" 
                                                    type="text">
                                            </datepicker>
                                            <span class="input-group-addon">
                                                <span class="fa fa-calendar"></span>
                                            </span>
                                        </div>
                                        <div class="mensajesError"> {{mensaje_fecha_fin}} </div>
                                    </div>
                                </div>
                            </div>
                            <!--agregar  productos-->
                            <div class="col-lg-3">
                                <div class="bs-component">
                                    <a data-toggle="modal" data-target="#source-modal" 
                                        class="btn btn-info glyphicon glyphicon-plus"
                                        ng-click="borrarProductosBuscados()"> 
                                        Agregar Productos</a>
                                </div>
                            </div>
                        </div>

                        <!--productos agregados -->  
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>codigo_barra</th>
                                        <th>nombre</th>
                                        <th>Precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="pro_select in productos_seleccionados">
                                        <td>
                                            <div ng-if="pro_select.imagen">
                                                <img style="width: 100px; height: 100px; min-width: 100px" src="img/files/{{pro_select.imagen}}"
                                                    alt="producto" class="img-thumbnail">
                                            </div>
                                        </td>
                                        <td style="line-height: 100px">
                                            {{pro_select.cod_barras_prod}}</td>
                                        <td style="line-height: 100px"> 
                                            {{pro_select.nom_prod}}</td>
                                        <td style="line-height: 100px"> 
                                            {{pro_select.pvp_prod}}</td>
                                        <td>
                                            <angular-smartconfirm confirm="eliminar_productos(pro_select)"/>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div> <!--./ productos agregados -->
                        <!--botones-->
                        <center>
                            <button type="submit" 
                                    ng-click="guardar_promociones_asg(promo_select)" 
                                    class="btn btn-primary fa fa-floppy-o"> Guardar</button>
                            <button type="reset" 
                                    class="btn btn-warning fa fa-times" 
                                    ng-click="mostrarOcultarForm()"> Cancelar</button>
                        </center>
                    </div> <!--./agregar nueva-->
                </div>
                <div class="page-header" ng-show="formVisibility" id="banner"> 
                    <!--para separar el contenedor del menu principal-->
                </div>
            </div>

            <!--buscador de promociones-->
            <div class="bs-component">
                <div class="form-group">
                    <label class="control-label">Buscar Promociones</label>
                    <div class="input-group col-lg-12 date">
                        <input type="search" class="form-control" ng-model="q" placeholder="Filtrar promociones asignadas ..." />
                        <span class="input-group-addon">
                            <span class=" glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </div> <!--./ buscador promociones-->

            <!--promociones establecidas-->
            <div class="table-responsive">
                <table class="table table-striped  table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Promoción</th>
                            <th>Fecha Inico</th>
                            <th>Fecha fin</th>
                            <th>Productos</th>
                            <th><i class="icon-list-alt"></i> 
                            </th>
                        </tr>
                    </thead>
                    <tbody>

                        <tr ng-hide="hidden" ng-animate="{show: 'fade-show', hide: 'fade-hide'}" 
                            ng-repeat="promociones in promociones_asg| filter:q">

                            <td><a ng-controller="AsgPromocionEdicionCtrl" 
                                    href="#!/ng-promo-asg-edi/{{promociones.id_asg_promocion}}" 
                                    class="btn btn-primary" 
                                    ng-click="asg_promocion_selecccionada(promociones)" >
                                    <i class="fa fa-pencil-square-o">Editar</i></a></td>

                            <td> {{promociones.nombre}}</td>
                            <td> {{promociones.fecha| date : format : timezone}}</td>
                            <td> {{promociones.fechaFin| date : format : timezone}}</td>
                            
                            <td><a data-toggle="modal" 
                                data-target="#source-modal-productos" 
                                ng-click="cargar_productos_relacionados_id(promociones.id_asg_promocion)" class="btn btn-info"> 
                                <i class="fa fa-bars"></i> Listar Productos</a> 
                            </td>
                            <td>
                                <a data-toggle="modal" 
                                    data-target="#source-modal-detele-promocion"
                                    ng-click="confirmarEliminacionPromociones(promociones)" 
                                    class="btn btn-danger glyphicon glyphicon-trash"></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--modal para buscar productos y agregarlos a una promocion-->
    <div id="source-modal" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" 
                        aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Buscar Productos</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" ng-model="texto_buscar" 
                                ng-value="{{texto_buscar}}" 
                                class="form-control" 
                                placeholder="Escribir el producto a buscar ...">
                        </div>
                            <button type="submit" class="btn btn-default" 
                                ng-click="buscar_productos()">buscar</button>
                    </form>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>codigo barra</th>
                                    <th>nombre</th>
                                    <th>precio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="producto in productos_buscados">
                                    <td>
                                        <div ng-if="producto.imagen">
                                            <img style="width: 100px ; height: 100px ; min-width: 100px" 
                                                src="img/files/{{producto.imagen}}" 
                                                alt="producto" 
                                                class="img-thumbnail">
                                        </div>
                                        <div ng-if="!producto.imagen">
                                            <img style="width: 100px ; height: 100px ; min-width: 100px" 
                                            src="img/noencontrado.gif" alt="producto" 
                                            class="img-thumbnail">
                                        </div>
                                    </td>
                                    <td style="line-height: 100px">
                                        {{producto.cod_barras_prod}}</td>
                                    <td style="line-height: 100px">
                                        {{producto.nom_prod}}</td>
                                    <td style="line-height: 100px">
                                        {{producto.pvp_prod}}</td>
                                    <td>
                                        <button class="btn btn-info glyphicon glyphicon-plus" 
                                            ng-click="agregar_productos(producto)">Agregar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--modal para ver todos los productos que se encuentran en la promocion seleccionada-->
    <div id="source-modal-productos" class="modal fade">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header btn-info">
                    <button type="button" class="close" data-dismiss="modal" 
                        aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Productos</h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Código de barra</th>
                                    <th>Nombre</th>
                                    <th>Precio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr ng-repeat="product in productos_asignados_id">
                                    <td>
                                        <div ng-if="product.imagen">
                                            <img style="width: 100px ; height: 100px ; min-width: 100px" 
                                                src="img/files/{{product.imagen}}" alt="producto" 
                                                class="img-thumbnail">
                                        </div>
                                    </td>
                                    <td style="line-height: 100px">{{product.cod_barras_prod}}</td>
                                    <td style="line-height: 100px">{{product.nom_prod}}</td>
                                    <td style="line-height: 100px"> {{product.pvp_prod}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
    <!--modal para confirmar la eliminacion de una promocion-->
    <div id="source-modal-detele-promocion" class="modal fade">
        <div class="modal-dialog modal-content">
            <div class= "modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">¿Desea eliminar? </h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        La promocion del {{promocionEliminar.nombre}}. Publicada  
                        desde el
                        {{promocionEliminar.fecha| date : format : timezone}} hasta el 
                        {{promocionEliminar.fechaFin| date : format : timezone}}.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" 
                            data-dismiss="modal" 
                            class="btn btn-warning">Cancelar</button>
                    <button type="button" 
                            data-dismiss="modal" 
                            ng-click="eliminar_promocion_asg_id(promocionEliminar)" 
                            class="btn btn-primary">Continuar</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal alerta al agregar productos existentes a la promocion cuando ya se encuentren en otra promocion asignada-->
    <div id="source-modal-add-producto" class="modal fade">
        <div class="modal-dialog modal-content">
            <div class= "modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">¿Desea Agregar? </h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        EL producto : {{producto_asignar.nom_prod}} 
                        con codigo de barra:  {{producto_asignar.cod_barras_prod}}  
                        ya se encuentra asigando en otra promoción. 
                    </div>
                </div>
                <!--botones-->
                <div class="modal-footer">
                    <button type="button" 
                        data-dismiss="modal" 
                        class="btn btn-warning" 
                        ng-click="cancelarGuardado()">Cancelar</button>

                    <button type="button" 
                        data-dismiss="modal" 
                        class="btn btn-primary" 
                        ng-click="continuarGuardado(producto_asignar)">Agregar</button>
                </div>
            </div>
        </div>
    </div> <!--./modal alerta-->
 </div>
</div> 
