<style>
    .stateList {
        width: 100%;
        position: absolute;
    }

</style>
<div ng-controller="PromocionesCtrl" >
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div data-ng-animate="'fade'" ng-init="cargar_promociones();
        cargar_productos_relacionados()">
        <!--establecer_promo(promociones)">-->
        <div class="panel panel-default cuandro_shadow">
            <div class="panel-heading">
                <h3 class="panel-title">Editar Promoción
                    <ul class="nav navbar-nav navbar-right"> 
                        Promoción Actual : {{promocion_actual_select[0].nombre}} </ul>
                </h3>
            </div>
            <div class="panel-body">
                <div class="row "  >
                    <!--PROMOCION-->
                    <div class="col-lg-3">
                        <div class="bs-component">
                            <div class="form-group">
                                <label class="control-label">Promoción</label>
                                <div class="input-group date" >
                                    <select class="ac-select stateList" 
                                            ac-model="data.promocion_select" 
                                            ac-options="s.nombre for s in promociones" 
                                            ac-settings="{ loadOnOpen: true}" 
                                            ac-change="stateSelected(value)">
                                    </select>
                                    <span class="input-group-addon"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FECHA INICIO-->
                    <div class="col-lg-3">
                        <div class="bs-component">
                            <div class="form-group">
                                <label class="control-label">Fecha Inicio</label>
                                <div class="input-group date">
                                    <datepicker date-format="yyyy-MM-dd" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                        <input id="fecha_inicio" class="form-control" type="text"  >
                                    </datepicker>
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FECHA FIN-->
                    <div class="col-lg-3">
                        <div class="bs-component">
                            <div class="form-group">
                                <label class="control-label">Fecha Fin</label>
                                <div class="input-group date">
                                    <datepicker date-format="yyyy-MM-dd" button-prev="<i class='fa fa-arrow-left'></i>" button-next="<i class='fa fa-arrow-right'></i>">
                                        <input id="fecha_fin" class="form-control" type="text" >
                                    </datepicker>
                                    <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="bs-component">
                            <a data-toggle="modal" data-target="#source-modal" class="btn btn-info glyphicon glyphicon-plus"> Agregar Productos</a>
                        </div>
                    </div>
                </div>
                <!--PRESENTA LOS PRODUCTOS ASIGNADOS A LA PROMOCION SELECCIONADA-->
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>codigo_barra</th>
                                <th>nombre</th>
                                <th>Precio</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="pro_select in productos_asignados">
                                <td>
                                    <div ng-if="pro_select.imagen">
                                        <img style="width: 100px ; height: 100px ; min-width: 100px" src="img/files/{{pro_select.imagen}}" alt="producto" class="img-thumbnail">
                                    </div>  

                                    <div ng-if="!pro_select.imagen">
                                        <img style="width: 100px ; height: 100px ; min-width: 100px" src="../img/noencontrado.gif" alt="producto" class="img-thumbnail">
                                    </div>       
                                </td>
                                <td style="line-height: 100px">{{pro_select.cod_barras_prod}}</td>
                                <td style="line-height: 100px"> {{pro_select.nom_prod}}</td>
                                <td style="line-height: 100px"> {{pro_select.pvp_prod}}</td>
                                <td>
                                   <angular-smartconfirm confirm="eliminar_relacion_producto_id(pro_select)" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!--./ MOSTRAR PRODUCTOS-->

                <button type="submit" class="btn btn-primary glyphicon glyphicon-floppy-disk" 
                        ng-click="actualizar_promocion_asg(promo_select, 
                                                          fecha_publicacion_edit, 
                                                          fecha_publicacion_fin)"> 
                        Guardar</button>

                <a  class=" btn btn-warning glyphicon glyphicon-remove" 
                    href="#!/ng-asg-promociones" > Cancelar</a>
                <!--MENSAJE DE AVISO EN CASO DE QUE SOLO EXISTA UN PRODUCTO EN LA PROMOCIÓN-->
                <div class="row" ng-show="msg_aviso" >
                    <div class="panel panel-warning col-lg-12" >
                        <div class="panel-heading">
                            <h3 class="panel-title">Aviso!!
                            </h3>
                            <div class="panel-body">
                                <center> <p>La promoción necesita un o mas productos..!! si desea borrar el producto en tal caso borre la promoción..!!</p> </center>
                            </div>
                        </div>
                    </div>
                </div><!--./ fin mensaje aviso-->
                
            </div><!--./contenedor-->
        </div> <!--./panel-->

        <!--modal para buscar productos-->
        <div id="source-modal" class="modal fade" ng-controller="AsgPromocionesCtrl" >
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" 
                            aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Buscar Productos</h4>
                        <form>
                            <div class="form-group">
                                <input type="text" ng-model="texto_buscar" ng-value="{{texto_buscar}}" class="form-control" 
                                    placeholder="Search" ng-click="borrarProductosBuscados()">
                            </div>
                            <button type="submit" class="btn btn-default" 
                                ng-click="buscar_productos()">buscar</button>
                        </form>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>codigo barra</th>
                                        <th>nombre</th>
                                        <th>precio</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="producto in productos_buscados">
                                        <td >
                                            <div ng-if="producto.imagen">
                                                <img style="width: 100px ; height: 100px ; min-width: 100px" src="img/files/{{producto.imagen}}" alt="producto" class="img-thumbnail">
                                            </div>
                                        </td>
                                        <td style="line-height: 100px">{{producto.cod_barras_prod}}</td>
                                        <td style="line-height: 100px"> {{producto.nom_prod}}</td>
                                        <td style="line-height: 100px"> {{producto.pvp_prod}}</td>
                                        <td>
                                            <button class="btn btn-info glyphicon glyphicon-save" 
                                                    ng-click="insertar_producto_promocion_bd(producto);
                                                                    remover_posiciones(producto)">
                                                Agregar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!--./modal buscar productos-->
    </div>
</div>
