<nav class="animation-actions contenedor" data-ng-show="isAdministrador"  
    ng-init="get_datos_supermercado()" >

    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="container">
        <div class="page-header" id="banner">
            <div class="row">
                <!--nombre supermercado-->
                <div class="col-lg-8 col-md-7 col-sm-6">
                    <h1 class="index_blanco text_cuadrado title_app_sis" 
                        ng-show="visible_titulo_inf">{{supermercado.nombre}}</h1>
                    <a ng-show="visible_titulo_inf" class="editar_index" 
                        href="" ng-click="ver_titulo();
                        editar_nombre(supermercado.nombre)">Editar</a>

                    <!--Editar nombre empresa-->
                    <div class="panel" data-ng-animate="'fade'" ng-show="visible_titulo">
                        <div class="panel-heading ">
                            <h3 class="panel-title ">Editar Nombre Empresa
                            </h3>
                        </div>
                        <form name="formNombre">
                            <div  class="form-group " ng-class="{ 'has-error' : formNombre.nombre.$invalid && !formNombre.nombre.$pristine }">
                                <h1></h1>
                                <p><input name="nombre" type="text" id="nombre" 
                                    ng-model="super.nombre" 
                                    ng-value="super.nombre" 
                                    class="form-control" required></p>
                                <p ng-show="formNombre.nombre.$invalid && !formNombre.nombre.$pristine" class="help-block">Requiere un valor.</p> <!--You name is required-->
                                <center>
                                    <button class="btn btn-primary  fa fa-floppy-o" 
                                        ng-click="ver_titulo();
                                            update_datos_supermercado(supermercado)" 
                                            ng-disabled="formNombre.$invalid" > Guardar</button>
                                    <a class="btn btn-warning fa fa-times" 
                                        ng-click="ver_titulo()"> Cancelar</a>
                                </center>
                            </div>
                        </form>
                    </div> <!--./ editar nombre empresa-->
                </div><!--./ nombre supermercado-->
                <!--logo supermercado-->
                <div class="col-lg-4 col-md-5 col-sm-6">
                    <div class="sponsor animated bounce">
                        <a href="">
                            <div id="f1_container">
                                <div id="f1_card" class="shadow">
                                    <div class="cuandro_shadow">
                                        <img  style="width: 170px ; height:170px" 
                                            src="img/fondo_principal.png"/>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div><!--/.logo-->
            </div>
        </div>

        <div class="bs-docs-section">
            <div class="row">
                <div class="col-lg-6">
                    <div class="bs-component">
                        <!--formulario mision-->
                        <form name="formMisionVision">
                            <div class="jumbotron cuandro_shadow">
                                <div class="nav navbar-nav navbar-right">
                                    <a class="editar_index" href="" 
                                        ng-show="visible_mision_inicio" 
                                        ng-click="ver_mision();
                                 editar_mision(supermercado)">Editar</a>
                                </div>
                                <h2>Misión</h2>
                                <div ng-show="visible_mision_inicio">{{supermercado.mision}}</div>
                                <div ng-show="visible_mision" data-ng-animate="'fade'" >
                                    <div  class="form-group " ng-class="{ 'has-error' : formMisionVision.mision.$invalid && !formMisionVision.mision.$pristine }">
                                        <textarea class="text_area" rows="10" cols="50" id="mision" name="mision" ng-value="misionedit" ng-model="misionedit" required></textarea>
                                        <p ng-show="formMisionVision.mision.$invalid && !formMisionVision.mision.$pristine" class="help-block">Requiere un valor.</p> <!--You name is required-->
                                        <center>

                                        <button class="btn btn-primary  fa fa-floppy-o"
                                            ng-click="update_datos_supermercado(supermercado, visionedit, misionedit);
                                            ver_mision()" ng-disabled="formMisionVision.$invalid"> Guardar</button>
                                        <a class="btn btn-warning  fa fa-times" 
                                            ng-click="ver_mision()"> Cancelar</a>
                                        </center>
                                    </div>
                                </div>
                            </div>
                        </form> <!--./mison-->
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="bs-component">
                        <!--vision-->
                        <form name="formVision">
                            <div class="jumbotron cuandro_shadow">
                                 <div class="nav navbar-nav navbar-right">
                                   <a class="editar_index" href="" 
                                    ng-show="visible_vision_inicio" 
                                    ng-click="ver_vision();
                                    editar_vision(supermercado)">Editar</a>
                                </div>
                                <h2>Visión</h2>
                                <div ng-show="visible_vision_inicio">{{supermercado.vision}}</div>
                                <div ng-show="visible_vision" data-ng-animate="'fade'">

                                    <div class="form-group" ng-class="{ 'has-error' : formVision.vision_e.$invalid && !formVision.vision_e.$pristine }">
                                        <textarea class="text_area" rows="10" cols="50" id="vision" name="vision_e" ng-model="visionedit" ng-value="visionedit" required></textarea>
                                        <p ng-show="formVision.vision_e.$invalid && !formVision.vision_e.$pristine" class="help-block">Requiere un valor.</p>
                                        <center>
                                            <button class="btn btn-primary fa fa-floppy-o" 
                                                ng-click="update_datos_supermercado(supermercado, visionedit, misionedit);
                                                ver_vision()" ng-disabled="formVision.$invalid"> Guardar</button>
                                            <a class="btn btn-warning  fa fa-times" 
                                                ng-click="ver_vision()"> Cancelar</a>

                                        </center>
                                    </div>
                                </div>
                            </div>
                        </form> <!--./vision-->
                    </div>
                </div>
            </div>
            <!--informacion empresa-->
            <div class="row">
                <div class="col-lg-12">
                    <h2 class="index_blanco border_index" >Información</h2>
                    <a class="editar_index" href="" 
                        ng-show="visible_edit_inf" 
                        ng-click="ver_inf();
                        editar_info(supermercado)">Editar</a>
                </div>
            </div>
            <form name="formInfo">
                <div  novalidate class="{{clase_fondo}}" >
                    <div class="row"  >
                        <!--direccion-->
                        <div class="col-lg-4">
                            <div class="bs-component">
                                <div class="panel panel-default cuandro_shadow">
                                    <div class="panel-heading ">
                                        <h3 class="panel-title">Dirección</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div data-ng-animate="'fade'" ng-show="visible_edit_inf">{{supermercado.direccion}}</div>
                                        <div ng-show="visible_inf" class="form-group" 
                                            ng-class="{ 'has-error' : formInfo.direccion_edit.$invalid && !formInfo.direccion_edit.$pristine }">
                                            <input  type="text"  id="direccion" 
                                                name="direccion_edit" 
                                                ng-model="super.direccion" 
                                                ng-value="super.direccion" 
                                                class="form-control" required>
                                            <div ng-show="formInfo.direccion_edit.$invalid && !formInfo.direccion_edit.$pristine" class="help-block">Requiere un valor.</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div><!--./direccion-->
                        <!--telefono-->
                        <div class="col-lg-4">
                            <div class="bs-component">
                                <div class="panel panel-default cuandro_shadow">
                                    <div class="panel-heading ">
                                        <h3 class="panel-title">Telefono</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div data-ng-animate="'fade'" ng-show="visible_edit_inf">{{supermercado.telefonos}}</div>

                                        <div ng-show="visible_inf" class="form-group " 
                                            ng-class="{ 'has-error' : formInfo.tele_edit.$invalid && !formInfo.tele_edit.$pristine }">
                                            <input  type="text" ng-pattern="phoneNumberPattern" 
                                                ng-required="requireTel" name="tele_edit" 
                                                id="telefonos" 
                                                ng-model="super.telefonos" 
                                                ng-value="super.telefonos" 
                                                class="form-control" required>
                                            <div ng-show="formInfo.tele_edit.$invalid && !formInfo.tele_edit.$pristine" class="help-block">Requiere un valor.</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div><!--./telefono-->
                        <!--./Ruc-->
                        <div class="col-lg-4">
                            <div class="bs-component">
                                <div class="panel panel-default cuandro_shadow">
                                    <div class="panel-heading  ">
                                        <h3 class="panel-title">Ruc</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div  data-ng-animate="'fade'" ng-show="visible_edit_inf">{{supermercado.ruc}}</div>
                                        <div ng-show="visible_inf"  class="form-group " 
                                            ng-class="{ 'has-error' : formInfo.ruc_edit.$invalid && !formInfo.ruc_edit.$pristine }">
                                            <input type="number"  min="0" ng-maxlength="13"  
                                                ng-minlength="13" step="2" id="ruc" 
                                                name="ruc_edit" 
                                                ng-model="super.ruc" 
                                                ng-value="super.ruc" 
                                                class="form-control" required>

                                            <div ng-show="formInfo.ruc_edit.$invalid && !formInfo.ruc_edit.$pristine" class="help-block"> Invalido.</div>
                                            <div ng-show="formInfo.ruc_edit.$error.maxlength" 
                                                class="help-block"> longitud máxima 13 .</div> <!--cantidad maxima de ingreso-->
                                            <div ng-show="formInfo.ruc_edit.$error.minlength" 
                                                class="help-block"> longitud minima 13 .</div> <!--cantidad maxima de ingreso-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <!--./ruc-->

                         <!--latitud-->
                         <center><h2 class="index_blanco border_index">Coordenadas Geográficas</h2></center>
                        <div class="col-lg-6">

                            <div class="bs-component">
                                <div class="panel panel-default cuandro_shadow">
                                    <div class="panel-heading  ">
                                        <h3 class="panel-title">Latitud</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div data-ng-animate="'fade'" ng-show="visible_edit_inf">{{supermercado.latitud}}</div>

                                        <div ng-show="visible_inf" class="form-group" 
                                            ng-class="{ 'has-error' : formInfo.latitud_edit.$invalid && !formInfo.latitud_edit.$pristine }">
                                            <input type="number" id="latitud" 
                                                name="latitud_edit" 
                                                    ng-model="super.latitud" 
                                                    ng-value="super.latitud" 
                                                    class="form-control" required>

                                            <div ng-show="formInfo.latitud_edit.$invalid && !formInfo.latitud_edit.$pristine" class="help-block">Inválido.</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div><!--./latitud-->
                         <!--longitud-->
                        <div class="col-lg-6">
                            <div class="bs-component">
                                <div class="panel panel-default cuandro_shadow">
                                    <div class="panel-heading  ">
                                        <h3 class="panel-title">Longitud</h3>
                                    </div>
                                    <div class="panel-body">
                                        <div data-ng-animate="'fade'" 
                                            ng-show="visible_edit_inf">
                                            {{supermercado.longitud}}</div>

                                        <div ng-show="visible_inf" class="form-group" 
                                            ng-class="{ 'has-error' : formInfo.longitud_edit.$invalid && !formInfo.longitud_edit.$pristine }">
                                            <input  type="number"  id="longitud" 
                                            name="latitud_edit" 
                                            ng-model="super.longitud" 
                                            ng-value="super.longitud" 
                                            class="form-control" required>
                                            <div ng-show="formInfo.longitud_edit.$invalid && !formInfo.longitud_edit.$pristine" class="help-block">Inválido.</div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div><!--./longitud-->
                    </div>
                    <div ng-show="visible_inf">
                        <button class="btn" ng-click="loadMapa(super)">
                        <i class="glyphicon glyphicon-map-marker"></i>Cargar mapa
                        </button>

                        <div ng-show="visibleMapa" class="animated bounceInDown">        
                            <input id="pac-input" class="controls form-control" type="text"
                                    placeholder="Escribir un lugar">         
                            <div id="map"></div>
                        </div>
                    </div>

                    <center>
                        <button ng-show="visible_inf" ng-disabled="formInfo.tele_edit.$invalid || formInfo.ruc_edit.$error.maxlength || formInfo.ruc_edit.$error.minlength" class="btn btn-primary  fa fa-floppy-o" ng-click="ver_inf();
                            reset_fondo(); update_datos_supermercado(supermercado)" > Guardar</button>
                        <button ng-show="visible_inf" 
                            class="btn btn-warning  fa fa-times"
                            ng-click="ver_inf();
                            reset_fondo()" type="reset"> Cancelar</button>
                    </center>
                </div>
            </form> <!--./ info empresa-->
        </div>
    </div>
</nav>
