<br/>
<br/>
<br/>
<div class="panel panel-default cuandro_shadow" ng-init="cargarDatosRecuperacionClave()">
    <div class="panel-heading">
        <h3 class="panel-title" >Configuración del recuperacion de clave</h3>
    </div>
    <div class="panel-body">
        <center>  
            <p style="color: tomato">En caso de que OLVIDE su contraseña deberá llenar los siguientes campos 
                para restablecer la misma.
            </p>
            <p style="color: tomato"> 
                 POR FAVOR NO OLVIDAR LOS DATOS REGISTRADOS..!!!
            </p>
        </center>
        <!--formulario-->
        <div class="row">
            <form name="recuperarForm" novalidate ng-submit="recuperar_contrasenia(recuperar)">
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.abuelo.$invalid && !recuperarForm.abuelo.$pristine }">
                    <h4>Nombre del abuelo paterno</h4>
                    <input  type="text" name="abuelo" class="form-control" ng-model="recuperar.nombre_abuelo" required ng-disabled="editar" >
                    <p ng-show="recuperarForm.abuelo.$invalid && !recuperarForm.abuelo.$pristine" class="help-block">Requiere un valor.</p> <!--You abuelo is required-->
                </div>
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.artista.$invalid && !recuperarForm.artista.$pristine }">
                    <h4>Artista favorito</h4>
                    <input  type="text" name="artista" class="form-control" ng-model="recuperar.artista_favorito" required ng-disabled="editar">
                    <p ng-show="recuperarForm.artista.$invalid && !recuperarForm.artista.$pristine" class="help-block">Requiere un valor.</p> <!--You artista is required-->
                </div>

                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.comida.$invalid && !recuperarForm.comida.$pristine }">
                    <h4>Comida favorita</h4>
                    <input  type="text" name="comida" class="form-control" ng-model="recuperar.comida_favorita" required ng-disabled="editar">
                    <p ng-show="recuperarForm.comida.$invalid && !recuperarForm.comida.$pristine" class="help-block">Requiere un valor.</p> <!--You comida is required-->
                </div>

                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.color.$invalid && !recuperarForm.color.$pristine }" >
                    <h4>Color favorito</h4>
                    <input  type="text" name="color" class="form-control" ng-model="recuperar.color_favorito" required ng-disabled="editar">
                    <p ng-show="recuperarForm.color.$invalid && !recuperarForm.color.$pristine" class="help-block">Requiere un valor.</p> <!--You color is required-->
                </div>
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : recuperarForm.pasatiempo_re.$invalid && !recuperarForm.pasatiempo_re.$pristine }">
                    <h4>Pasatiempo</h4>
                    <input  type="text" id="pasatiempo_re" name="pasatiempo_re" class="form-control" ng-model="recuperar.pasatiempo" required ng-disabled="editar">
                    <p ng-show="recuperarForm.pasatiempo_re.$invalid && !recuperarForm.pasatiempo_re.$pristine" class="help-block">Requiere un valor.</p> <!--You pasatiempo is required-->
                </div>

                <div class="form-group col-lg-12">
                    <center>
                    <a class="btn btn-info glyphicon glyphicon-edit col-lg-3" ng-click="habilitarCampos();
                        ShowBotones()" ng-show="mostrarBotones"> Editar</a>
                    <a style="margin-left: 12px;" class="btn btn-primary glyphicon glyphicon-chevron-left col-lg-3" ng-click="ocultarFormularioConfiguracion()" ng-show="mostrarBotones"> Atrás</a>
                    <button  type="submit" class="btn btn-primary col-lg-3"
                             ng-disabled="recuperarForm.$invalid" ng-show="mostrarBotonesOpcion" 
                             ng-click="guardar_data_recuperacion(recuperar); desabilitarCampos();
                             ShowBotones();"> Guardar</button>
                    <a  style="margin-left: 12px;"  class="btn btn-warning col-lg-3"  
                        ng-show="mostrarBotonesOpcion" ng-click="ShowBotones();
                        desabilitarCampos();
                        cargarDatosRecuperacionClave()"> Cancelar</a> 
                    </center>
                </div>    
            </form>
        </div> <!--./formulario-->
    </div>
</div>
