<div data-ng-animate="'fade'" ng-show="config" >
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <!--formulario para la modificacion de datos confidenciales-->
    <div class="panel panel-default cuandro_shadow" >
        <div class="panel-heading">
            <h3 class="panel-title">Configuración</h3>
        </div>
        <div class="panel-body">
            <div>
                <form role="form" name="FormConfig"  ng-submit="loginConfig()">
                    <div class="form-group col-lg-12" ng-class="{ 'has-error' : FormConfig.config_login.$invalid && !FormConfig.config_login.$pristine }">
                        <label for="textn">Ingrese la contraseña para continuar</label>
                        <input id="config_login" type="password" name="config_login" class="form-control" ng-model="confg.contrasenia" required 
                            ng-change="eventChangePass()">
                        <p ng-show="FormConfig.config_login.$invalid && !FormConfig.config_login.$pristine" class="help-block">Requiere un valor.</p> <!--You name is required-->
                    </div>
                    <div style="color: crimson; font-size: 12px;"><center>{{mensaje_config}}</center></div>
                    <center>
                        <button type="submit" class="btn btn-primary" 
                                ng-disabled="FormConfig.$invalid" > Enviar</button>
                        <a  href="#!/ng-perfil" class="btn btn-warning  glyphicon glyphicon-chevron-left" > Atrás</a>
                    </center>
                </form>
            </div>
        </div>
    </div>
    <!--seccion de paypal -->
    <div class="panel panel-default cuandro_shadow" 
        ng-init="get_datos_supermercado()">
        <div class="panel-heading">
            <h3 class="panel-title">Paypal</h3>
        </div>
        <div class="panel-body">
            <div>
            <form role="form" name="FormPaypal" ng-submit="RegistrarIdPaypal(confg.id_paypal)" >
                    <div ng-if="editar">
                        <div class="form-group col-lg-12" ng-class="{ 'has-error' : FormPaypal.id_paypal.$invalid && !FormPaypal.id_paypal.$pristine }">
                            <label for="textn">Ingrese Id Paypal</label>
                            <input id="id_paypal" type="text" name="id_paypal" class="form-control" 
                                ng-model="confg.id_paypal" required>
                            <p ng-show="FormPaypal.id_paypal.$invalid && !FormPaypal.id_paypal.$pristine" class="help-block">Requiere un valor.</p> <!--You name is required-->
                        </div>
                        <center> <button type="submit" class="btn btn-primary" 
                            ng-disabled="FormPaypal.$invalid"> Enviar</button>
                            <a  ng-click="edicionPaypal()" class="btn btn-warning"> Cancelar</a>
                        </center>
                    </div>
                    <div ng-if="noEditar">
                        <div class="form-group col-lg-12">
                            <label for="textn">Id Paypal</label>
                            <span>{{confg.id_paypal}}</span>
                        </div>
                        <center> <button type="submit" class="btn btn-primary " 
                            ng-click="edicionPaypal()"> Editar</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!--seccion de paypal modulo analitica -->
    <div class="panel panel-default cuandro_shadow" 
        ng-init="get_datos_supermercado()">
        <div class="panel-heading">
            <h3 class="panel-title">Modulo Analítica</h3>
        </div>
        <div class="panel-body">
            <div>
            <form role="form" name="FormPaypalA" 
                ng-submit="RegistrarIdPaypalAnalitica(confg.id_analitica_paypal)" >
                    <div ng-if="editarAnalitica">
                        <div class="form-group col-lg-12" 
                            ng-class="{ 'has-error' : FormPaypalA.id_analitica_paypal.$invalid && !FormPaypalA.id_analitica_paypal.$pristine }">

                            <label for="textn">Ingrese id paypal para el modulo</label>
                            <input id="id_analitica_paypal" type="text" name="id_analitica_paypal"       class="form-control" 
                                    ng-model="confg.id_analitica_paypal" required>
                            <p ng-show="FormPaypalA.id_analitica_paypal.$invalid && !FormPaypalA.id_analitica_paypal.$pristine" class="help-block">Requiere un valor.</p> <!--You name is required-->
                        </div>
                        <center>
                            <button type="submit" class="btn btn-primary" 
                            ng-disabled="FormPaypalA.$invalid"> Enviar</button>
                            <a  ng-click="edicionPaypalAnalitica()" class="btn btn-warning" > Cancelar</a>
                        </center>
                    </div>
                    <div ng-if="noEditarAnalitica">
                        <div class="form-group col-lg-12">
                            <label for="textn">Id Paypal</label>
                            <span>{{confg.id_analitica_paypal}}</span>
                        </div>
                        <center> <button type="submit" 
                            class="btn btn-primary " 
                            ng-click="edicionPaypalAnalitica()"> Editar</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-default cuandro_shadow">
        <div class="panel-heading">
            <h3 class="panel-title">Precio para el pedido de listas</h3>
        </div>
        <div class="panel-body">
            <div>
            <form role="form" name="FormCobrarLista" 
                ng-submit="guardarCantidadEntrega(confg.pagar_entrega)" >
                    <div ng-if="editarPagar">
                        <div class="form-group col-lg-12" 
                            ng-class="{ 'has-error' : FormPaypalA.pagar_entrega.$invalid && !FormPaypalA.pagar_entrega.$pristine }">

                            <label for="textn">Ingrese la cantidad de pago al entregar una lista</label>

                            <input id="pagar_entrega"
                                   type="number"
                                   name="pagar_entrega" 
                                   placeholder="Decimal"
                                   ng-pattern="/^[0-9]+(\.[0-9]{1,2})?$/"
                                   step="0.01" 
                                   class="form-control" 
                                   ng-model="confg.pagar_entrega"/>

                            <p ng-show="FormPaypalA.pagar_entrega.$invalid && !FormPaypalA.pagar_entrega.$pristine" class="help-block">Requiere un valor.</p> <!--You name is required-->
                        </div>
                        <center>
                            <button type="submit"
                                    class="btn btn-primary" 
                                    ng-disabled="FormPaypalA.$invalid"> Enviar</button>
                            <a ng-click="edicionPagar()" class="btn btn-warning"> Cancelar</a>
                        </center>
                    </div>
                    <div ng-if="noEditarPagar">
                        <div class="form-group col-lg-12">
                            <label for="textn">Cantidad a pagar por el cliente</label>
                            <span>{{supermercado.pagar_entrega}}</span>
                        </div>
                        <center> <button type="submit" 
                            class="btn btn-primary " 
                            ng-click="edicionPagar()"> Editar</button>
                        </center>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>

<!--seccion de configuracion de registro para la recuperacion de la clave-->
<div class="container" ng-show="configUser" data-ng-animate="{enter: 'view-enter'}" 
    data-ng-include="'./templates/config_user.html'"></div>

