<!--pie de pagina-->
<div class="pie_pagina_plantilla">
    <div class="container">
        <br>
        <div class="panel panel-info mensajePiePagina">
            <div class="panel-heading">
                <h2 class="panel-title letras_pie_pagina">
                    <center>Control-Shopping Administración</center>
                </h2>
            </div>
        </div>

    </div>
</div>