<!--perfil de usuario-->
<nav class="animation-actions" ng-init="cargar_perfil()">
    <div class="container">
        <form name="datosP"  novalidate class="{{clase_fondo_perfil}}" >
            <div class="page-header " id="banner">
                <div class="row">
                    <div class="col-lg-8 col-md-7 col-sm-6">
                        <!--datos-->
                        <div class="page-header">
                            <h1 id="container " ng-show="prVisibility" class="index_blanco text_cuadrado"> {{usuario_cargado.nombres}} {{usuario_cargado.apellidos}}</h1>
                            <a href=""  class="editar_index" ng-click="ShowForm();
                                cargar_nombres()" ng-show="prVisibility">Editar Perfil</a>
                            <div class="row" ng-show="formVisibility">
                                <div class="col-lg-4">
                                    <!-- NOMBRE -->
                                    <div class="form-group" ng-class="{ 'has-error' : datosP.nombres.$invalid && !datosP.nombres.$pristine }">
                                        <label>Nombres:</label>
                                        <input id="nombre" type="text" name="nombres" 
                                            class="form-control"  ng-model="usuario_edicion_nombre" 
                                            ng-value="{{usuario_edicion_nombre}}">
                                        <p ng-show="datosP.nombres.$invalid && !datosP.nombres.$pristine" class="help-block">Requiere Valor.</p>
                                    </div>
                                </div>
                                <!-- APELLIDOS -->
                                <div class="col-lg-4">
                                    <div class="form-group" ng-class="{ 'has-error' : datosP.apellidos.$invalid && !datosP.apellidos.$pristine }">
                                        <label>Apellidos</label>
                                        <input id="apellido" type="text" name="apellidos" 
                                            class="form-control" ng-model="usuario_edicion_apellido" 
                                            ng-value="{{usuario_edicion_apellido}}">
                                        <p ng-show="datosP.apellidos.$invalid && !datosP.apellidos.$pristine" class="help-block">Requiere Valor.</p> <!--You name is required-->
                                    </div>
                                </div><!-- ./APELLIDOS -->
                            </div>
                        </div> <!--./datos-->
                    </div>

                    <!--imagen-->
                    <div class="col-lg-4 col-md-5 col-sm-6">
                        <div class="sponsor">
                            <a href="#"><img src="img/admin2.png" width="200" height="170"></a>
                        </div>
                    </div><!--./imagen-->
                </div>

                <div class="row">
                    <!--correo-->
                    <div class="col-lg-6">
                        <div class="bs-component">
                            <div class="panel panel-default cuandro_shadow">
                                <div class="panel-heading">Correo:</div>
                                <div class="panel-body">
                                    <p class="lead" ng-show="prVisibility" >{{usuario_cargado.email}}</p>
                                    <div ng-show="formVisibility" class="form-group" 
                                        ng-class="{ 'has-error' : datosP.email.$invalid && !datosP.email.$pristine }">
                                        <input type="email" id="correo" name="email" class="form-control" 
                                            ng-model="usuario_edicion_email"
                                            ng-value="{{usuario_edicion_email}}">
                                        <p ng-show="datosP.email.$invalid && !datosP.email.$pristine" 
                                            class="help-block">Ingrese un correo correcto.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--./correo-->
                    <!--nombre usuario-->
                    <div class="col-lg-6">
                        <div class="bs-component">
                            <div class="panel panel-default cuandro_shadow">
                                <div class="panel-heading">Nombre Usuario</div>
                                <div class="panel-body">
                                    <p class="lead" ng-show="prVisibility" >{{usuario_cargado.username}}</p>
                                    <div ng-show="formVisibility"  class="form-group" 
                                        ng-class="{ 'has-error' : datosP.username.$invalid && !datosP.username.$pristine }">
                                        <input type="text" id="username" name="username" 
                                            class="form-control" ng-model="usuario_edicion_username"
                                            ng-value="{{usuario_edicion_username}}">
                                        <p ng-show="datosP.username.$invalid && !datosP.username.$pristine"     class="help-block">Ingrese nombre usuario.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> <!--./nombre usuario-->
                </div>
            </div>
            <center>

            <button type="submit" ng-show="formVisibility" ng-click="hideForm();
                actualizar_usuario()" class="btn btn-primary fa fa-floppy-o" ng-disabled="datosP.$invalid"> Guardar</button>
            <button type="reset" ng-click="ShowForm()" ng-show="formVisibility" 
                class="btn btn-warning fa fa-times"  >Cancelar</button>
        </center>
        </form>

        <!--form de cambiar contraseña-->
        <div class="panel panel-default cuandro_shadow">
            <div class="panel-heading">Cambiar Contraseña</div>

            <div class="panel-body">
                <div class="row">
                    <div class="col-lg-4">
                        <a href="" ng-click="showFormPassword()" ng-show="passwordVisibility">Cambiar</a>
                    </div>
                    </div>
                    <div class="row">
                        <form name="contraseniaForm" ng-submit="verificar_contrasenia_antigua()" 
                            ng-show="passVisibility" novalidate>

                            <div class="col-lg-12">
                            <div class="row">
                                <div class="col-lg-4">
                                    <!-- contraseña antigua -->
                                    <div class="form-group" 
                                        ng-class="{ 'has-error' : contraseniaForm.nombres.$invalid && !contraseniaForm.nombres.$pristine }">
                                        <label>Contraseña Antigua</label>
                                        <input id="contrasenia_anterior" type="password" 
                                        name="contrasenia_anterior" class="form-control" 
                                        ng-model="contrasenia.contrasenia_anterior" required>
                                        <p ng-show="contraseniaForm.nombres.$invalid && !contraseniaForm.nombres.$pristine" class="help-block">Requiere Valor.</p>
                                    </div>

                                </div>
                                <div class="col-lg-4">

                                    <!-- contraseña nueva -->
                                    <div class="form-group" ng-class="{ 'has-error' : contraseniaForm.contrasenia_nueva.$invalid && !contraseniaForm.contrasenia_nueva.$pristine }">
                                        <label>Contraseña Nueva</label>
                                        <input id="contrasenia_nueva" type="password" 
                                            name="contrasenia_nueva" class="form-control" 
                                            ng-model="contrasenia.contrasenia_nueva" required>
                                        <p ng-show="datosP.contrasenia_nueva.$invalid && !datosP.contrasenia_nueva.$pristine" class="help-block">Requiere Valor.</p> <!--You name is required-->
                                    </div>
                                </div>
                                <div class="col-lg-4">

                                    <!-- confirmacion de contraseña nueva -->
                                    <div class="form-group" ng-class="{ 'has-error' : contraseniaForm.contrasenia_nuevarp.$invalid && !contraseniaForm.contrasenia_nuevarp.$pristine }">
                                        <label>Repita Contraseña Nueva</label>
                                        <input id="contrasenia_nuevarp" type="password" 
                                            name="contrasenia_nuevarp" class="form-control" 
                                            ng-model="contrasenia.contrasenia_nuevarp" 
                                            ng-change="checkPassword()" required>
                                        <p ng-show="contraseniaForm.contrasenia_nuevarp.$invalid && !contraseniaForm.contrasenia_nuevarp.$pristine" class="help-block">Requiere Valor.</p> <!--You name is required-->
                                        <p ng-show="contraseniaForm.contrasenia_nuevarp.$dirty && contraseniaForm.contrasenia_nuevarp.$error.dontMatch" 
                                            class="help-block" style="color:red" >Contraseñas no coinciden!</p>
                                    </div>
                                </div>
                            </div>
                            </div>
                               <center>

                            <button type="submit" class="btn btn-primary fa fa-floppy-o" 
                                ng-click="hideFormPassword()" ng-disabled="datosP.$invalid || datosP.contrasenia_nuevarp.$error.dontMatch"> Guardar </button>
                            <button type="reset" class="btn btn-warning fa fa-times" 
                                ng-click="showFormPassword()" ng-show="passVisibility"> Cancelar </button>
                            </center>
                        </form>
                </div>
            </div>
        </div> <!--./form cambiar contraseña-->
    </div>
</nav>
