<!--aquellos productos que aun no se les asigna una ubicacion-->
<div data-ng-show="isAdministrador" 
     data-ng-animate="'fade'" 
     data-ng-init="cargar_productos_sin_ubicacion()" >
     
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <center><h1>Poductos sin ubicación</h1></center>
    <div class="bs-component">
        <div class="form-group">
            <label class="control-label">Buscar Productos</label>
            <div class="input-group col-lg-12 date"   >
                <input type="search" class="form-control" ng-model="q" 
                    placeholder="Filtrar productos sin ubicacion ..." />
                <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
            </div>
        </div>
    </div>
    <!--panel contenedor-->
    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">  </h3>
        </div>
        <div class="table-responsive ">
            <table class="table table-striped  table-hover">
                <thead>
                    <tr>
                        <th>nombre</th>
                        <th>Precio</th>
                        <th>codigo_barra</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-hide="hidden" ng-animate="{show: 'fade-show', hide: 'fade-hide'}" ng-repeat="prod in productosinubicacion| filter:q">
                        <td>{{prod.nom_prod}}</td>
                        <td>{{prod.pvp_prod}}</td>
                        <td>{{prod.cod_barras_prod}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>  <!--./panel contenedor-->
</div>
