<!--presenta los productos que le pertenecen a una promocion-->
<nav class="animation-actions">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <h2>
        <a class="btn btn-default glyphicon glyphicon-chevron-left" href="#!/ng-ubicacion" > Atrás</a>
    </h2>
    <!--contenedor productos-->
    <div class="panel panel-default cuandro_shadow">
        <div class="panel-heading">
            <h2 class="panel-title">
                <center>Productos en ubicación</center>
            </h2>
        </div>
        <div class="table-responsive" ng-init="cargar_ubicaciones_asg()">
            <table class="table table-striped  table-hover" >
                <thead>
                    <tr>
                        <th></th>
                        <th>Código de Barras</th>
                        <th>Nombre</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="ubicacion in ubicaciones_asg">
                        <td> 
                            <div ng-if="ubicacion.imagen">
                                <img style="width: 100px ; height: 100px ; min-width: 100px" src="img/files/{{ubicacion.imagen}}" alt="producto" class="img-thumbnail">
                            </div>
                        </td>
                        <td style="line-height: 100px">{{ubicacion.cod_barras_prod}}</td>
                        <td style="line-height: 100px">{{ubicacion.nom_prod}}</td>
                         <td>
                    <angular-smartconfirm confirm="eliminar_ubicacion_asg_id(ubicacion)"/>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div> <!--/.contenedor productos-->
    <!--mensaje aviso-->
    <div class="row" ng-show="msg_aviso" >
        <div class="panel panel-warning col-lg-12" >
            <div class="panel-heading">
                <h3 class="panel-title">Aviso!!
                </h3>
                <div class="panel-body">
                    <center> <p>La ubicación necesita un o más productos. Si desea borrar el producto en tal caso borre la ubicación !.</p> </center>
                </div>
            </div>
        </div>
    </div> <!--./mensaje de aviso-->
</nav>
