<!--permite editar una promocion seleccionada-->    
<div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
</div>
<div class="panel panel-default cuandro_shadow" >
    <div class="panel-heading">
        <h3 class="panel-title">Promoción Edición</h3>
    </div>
    <div class="panel-body">
        <div data-ng-animate="'fade'" ng-init="cargar_promocion_id()">
            <form name="formularioPromo" >
                <!-- NOMBRE -->
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : formularioPromo.nombre_edit.$invalid && !formularioPromo.nombre_edit.$pristine }">
                    <label>Nombre</label>
                    <input type="text" id="nombre_edit"  value="{{productoSleccionado.nombre}}" 
                        name="nombre_edit" ng-model="productoSleccionado.nombre" 
                        class="form-control" id="textn" required>
                    <p ng-show="formularioPromo.nombre_edit.$invalid && !formularioPromo.nombre_edit.$pristine" class="help-block">Requiere un nombre.</p> <!--You name is required-->
                </div>
                 <!-- Descuento -->
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : formularioPromo.descuento_edit.$invalid && !formularioPromo.descuento_edit.$pristine }">
                    <label>Descuento del</label>
                    <div class="input-group">
                        <input type="number" id="descuento_edit"  value="{{productoSleccionado.descuento}}" name="descuento_edit" ng-model="productoSleccionado.descuento" class="form-control" id="textn" required>
                        <span class="input-group-addon">%</span>
                    </div>
                    <p ng-show="formularioPromo.descuento_edit.$invalid && !formularioPromo.descuento_edit.$pristine" class="help-block">Requiere una Descuento.</p> <!--You name is required-->
                </div>

                <!-- DESCRIPCION -->
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : formularioPromo.descripcion_edit.$invalid && !formularioPromo.descripcion_edit.$pristine }">
                    <label>Descripcion</label>
                    <input type="text" id="descripcion_edit" name="descripcion_edit"  value="{{productoSleccionado.descripcion}}" ng-model="productoSleccionado.descripcion" class="form-control" id="textn" required>
                    <p ng-show="formularioPromo.descripcion_edit.$invalid && !formularioPromo.descripcion_edit.$pristine" class="help-block">Requiere una descripcion.</p> <!--You name is required-->
                </div>
                <button type="submit" class="btn btn-info glyphicon glyphicon-floppy-disk" 
                    ng-click="actualizar_promocion(productoSleccionado)" 
                    ng-disabled="formularioPromo.$invalid"> Guardar</button>
                <a  href="#!/ng-promocion" class="btn btn-warning  glyphicon glyphicon-remove" ng-click="ShowForm();
                        cargar_promociones()"> Cancelar</a>
            </form>
        </div>
    </div>
</div>

