<!--listar todas las promociones activas-->
<div data-ng-show="isAdministrador">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div class="page-header">
        <h1 class="text-center index_blanco text_cuadrado" > <span style="color: black" >{{numero_promociones_disponibles}}</span> Promociones Activas   </h1>
    </div>
    <div ng-init="cargar_promociones_activas()">
        <div class="panel panel-default cuandro_shadow" ng-repeat="promocion in promocionesActivas">
            <div class="panel-heading">
                <h3 class="panel-title">{{promocion.nom_prod}} </h3>
            </div>
            <div class="panel-body">
                <div class="panel content_plom " >
                    <div class="panel-heading sombrear ">
                        <h3 class="panel-title">Promocion del {{promocion.nombre}} </h3>
                    </div>
                    <!--DESCRIPCION-->
                    <div class="panel-body">
                        Descripcion: {{promocion.descripcion}}
                    </div>
                </div>
                <div class="row">
                    <!--PRECIO DEL PRODUCTO-->
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="panel panel-default">
                                <div class="panel-heading">Precio</div>
                                <div class="panel-body">
                                    $ {{promocion.pvp_prod}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--FECHA INICIO-->
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Fecha Inicio</h3>
                                </div>
                                <div class="panel-body">
                                    {{promocion.fecha | date : format : timezone}}
                                </div>
                            </div>
                        </div>
                    </div> <!--./FECHA INICIO-->
                    <!--FECHA FIN-->
                    <div class="col-lg-4">
                        <div class="bs-component">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Fecha Fin</h3>
                                </div>
                                <div class="panel-body">
                                    {{promocion.fechaFin| date : format : timezone }}
                                </div>
                            </div>
                        </div>
                    </div><!--./FECHA FIN-->
                </div>
                <div class="row">
                    <center><h4 id="container" ng-init="d = dias_restantes(promocion.fechaFin)">Faltan : {{d}} dia(s) para su Finalizacion  </h4></center>
                </div>
            </div>
        </div>
    </div >
</div>
