<div data-ng-show="isAdministrador">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <!--contenedor promociones-->
    <div data-ng-animate="'fade'" ng-init="cargar_promociones(promo)">
        <div class="panel panel-default cuandro_shadow">
            <div class="panel-heading">
                <center><h3 class="panel-title">Promociones</h3></center>
            </div>
            <div class="panel-body">
                <a ng-click="ShowForm()"
                class="btn btn-primary fa fa-plus" 
                ng-show="opcion1"> Nueva</a>
                <div ng-show="formVisibility" data-ng-animate="'fade'">
                    <div class="panel content_plom">
                        <div class="panel-heading sombrear">
                            <h3 class="panel-title">Nueva Promoción</h3>
                        </div>
                        <form name="promoForm" ng-submit="guardar_promociones()" novalidate>
                            <!-- NOMBRE -->
                            <div class="form-group col-lg-12" 
                                ng-class="{ 'has-error' : promoForm.nombre.$invalid && !promoForm.nombre.$pristine }">
                                <label>Nombre</label>
                                <input id="nombre_promocion" type="text" name="nombre" 
                                    class="form-control" ng-model="promo.nombre" 
                                    required ng-change="ocultaErrorNombre()">
                                <p ng-show="promoForm.nombre.$invalid && !promoForm.nombre.$pristine" 
                                    class="help-block">Requiere un nombre.</p> <!--You name is required-->
                                <p ng-show="mensajeErrorPromocionNombre" class="help-block">Requiere un nombre.</p> <!--You name is required-->
                            </div>

                            <!-- Descuento -->
                            <div class="form-group col-lg-12" 
                                ng-class="{ 'has-error' : promoForm.descuento.$invalid && !promoForm.descuento.$pristine }">
                                <label>Descuento</label>
                                  <div class="input-group">
                                    <input id="descuento" 
                                        type="number" 
                                        name="descuento" 
                                        class="form-control" 
                                        ng-model="promo.descuento"
                                        min="1" 
                                        required 
                                        ng-change="ocultaErrorDescuento()">
                                    <span class="input-group-addon">%</span>
                                </div>
                                <p ng-show="promoForm.descuento.$invalid && !promoForm.descuento.$pristine" class="help-block">Requiere un descuento válido.</p> <!--You name is required-->
                                <p ng-show="mensajeErrorDescuento" class="help-block">Requiere un descuento valido.</p> <!--You name is required-->
                            </div>
                      
                            <!-- DESCRIPCION -->
                            <div class="form-group col-lg-12" 
                                ng-class="{ 'has-error' : promoForm.descripcion.$invalid && !promoForm.descripcion.$pristine }">
                                <label>Descripción</label>
                                
                                <input  id="nombre_descripcion" type="text" name="descripcion" 
                                    class="form-control" ng-model="promo.descripcion" 
                                    ng-minlength="5" required ng-change="ocultaErrorDesc()">
                                <p ng-show="promoForm.descripcion.$error.minlength" class="help-block"> Descripcion muy corta.</p> <!--Username is too short-->
                                <p ng-show="mensajeErrorPromocionDescripcion" 
                                    class="help-block">Requiere una descripcion.</p> <!--You name is required-->
                            </div>
                            <center>
                                <button  type="submit" 
                                    class="btn btn-primary fa fa-floppy-o" 
                                    ng-disabled="promoForm.$invalid"> Guardar</button>
                                <button type="reset" 
                                    class="btn btn-warning fa fa-times" 
                                    ng-click="ShowForm();
                                    hideFormOpcion1()"> Cancelar</button>
                            </center>
                        </form>
                        <h1></h1> 
                    </div>
                </div>
                <!--filtrar promociones-->
                <div class="bs-component">
                    <h1></h1>
                    <div class="form-group">
                        <label class="control-label">Buscar Promociones</label>
                        <div class="input-group col-lg-12 date">
                            <input type="search" class="form-control" 
                                ng-model="p" 
                                placeholder="Filtrar promociones ..." />
                            <span class="input-group-addon">
                                <span class="glyphicon glyphicon-search"></span>
                            </span>
                        </div>
                    </div>
                </div> <!--./filtrar promociones-->
                <!--table promociones-->
                <div class="table-responsive">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Nombre</th>
                                <th>Descuento del</th>
                                <th>Descripcion</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="promocion in promociones| filter:p" 
                                ng-hide="hidden"
                                ng-animate="{show: 'fade-show', hide: 'fade-hide'}">
                                <td>
                                    <a href="#!/ng-promo-edi/{{promocion.id_promocion}}" 
                                        class="btn btn-primary ">
                                    <i class="fa fa-pencil-square-o">Editar</i></a>
                                </td>
                                <td>{{promocion.nombre}}</td>
                                <td>{{promocion.descuento * 100}}%</td>
                                <td>{{promocion.descripcion}}</td>
                                <td>
                                    <button ng-click="existePromocionAsigandaEliminar(promocion)" 
                                        class="btn btn-danger glyphicon glyphicon-trash"></button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div> <!--./table promociones-->
            </div>
        </div>
    </div> <!--./contenedor promociones-->

    <!--modal para confirmar la eliminacio de una promocion-->
    <div id="source-modal-delete-promocion" class="modal fade">
        <div class="modal-dialog modal-content">
            <div class= "modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">¿Desea Eliminar? </h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        La promocion {{promocionEliminar.nombre}} se encuentra asignada.
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class=" btn  btn-warning">Cancelar</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" 
                        ng-click="aceptarEliminacion(promocionEliminar)">Eliminar</button>
                </div>
            </div>
        </div>
    </div> <!--./modal de confirmación-->
</div>

