<div data-ng-show="isAdministrador">
<div class="page-header" id="banner" > <!--para separar el contenedor del menu principal-->
</div>
<!--contenedor secciones-->
<div data-ng-animate="'fade'" ng-init="cargar_secciones()">
    <div class="panel panel-default cuandro_shadow" >
        <div class="panel-heading">
            <center><h1 class="panel-title"> Secciones</h1></center>
        </div>
        <div class="panel-body">
            <a ng-click="ShowForm()" class="btn btn-primary fa fa-plus" 
                ng-show="opcion1" > Nueva</a>
            <div ng-show="formVisibility" data-ng-animate="'fade'">

                <div class="panel content_plom" >
                    <div class="panel-heading sombrear">
                        <h3 class="panel-title">Nueva Sección</h3>
                    </div>
                    <form name="seccionForm" ng-submit="guardar_secciones()" novalidate>
                        <!-- NOMBRE -->
                        <div class="form-group col-lg-12" 
                            ng-class="{ 'has-error' : seccionForm.nombre.$invalid && !seccionForm.nombre.$pristine }">
                            <label>Nombre</label>
                            <input id="nombre_seccion" type="text" name="nombre" class="form-control" 
                                ng-model="seccion.nombre" required ng-change="ocultaErrorNombre()">
                            <p ng-show="seccionForm.nombre.$invalid && !seccionForm.nombre.$pristine" 
                                class="help-block">Requiere un nombre.</p> <!--You name is required-->
                        </div>
                      
                        <center>
                            <button type="submit" class="btn btn-primary fa fa-floppy-o" 
                                ng-disabled="seccionForm.$invalid"> Guardar</button>
                            <button type="reset" class="btn btn-warning fa fa-times" 
                                ng-click="ShowForm(); hideFormOpcion1()"> Cancelar</button>
                            
                        </center>
                    </form>
                    <h1></h1> 
                </div>
            </div>
            <!--filtrar secciones-->
            <div class="bs-component">
                <h1></h1>
                <div class="form-group">
                    <label class="control-label">Buscar Secciones</label>
                    <div class="input-group col-lg-12 date"   >
                        <input type="search" class="form-control" ng-model="p" placeholder="Filtrar secciones ..." />
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                    </div>
                </div>
            </div> <!--./filtrar secciones-->
            <!--table secciones-->
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <!--<th>id</th>-->
                            <th>Nombre</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="seccion in secciones| filter:p"  ng-hide="hidden" ng-animate="{show: 'fade-show', hide: 'fade-hide'}" >
                            <td>
                                <a href="#!/ng-seccion-edi/{{seccion.id}}"  class="btn btn-primary " ><i class="fa fa-pencil-square-o">Editar</i> </a>
                            </td>
                            <!--<td>{{seccion.id}}</td>-->
                            <td> {{seccion.nombre}}</td>
                            <td>
                                <button ng-click="existeSeccionAsigandaEliminar(seccion)" class="btn btn-danger glyphicon glyphicon-trash" ></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div> <!--./table secciones-->
        </div>
    </div>
</div> <!--./contenedor promociones-->

<!--modal para confirmar la eliminacio de una seccion-->
<div id="source-modal-delete-seccion" class="modal fade">
    <div class="modal-dialog modal-content">
        <div class= "modal-content">
            <div class="modal-header">
                <h4 class="modal-title">¿Desea Eliminar? </h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    La seccion {{seccionEliminar.nombre}} se encuentra asignada.
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" data-dismiss="modal" class=" btn btn-warning"  >Cancelar</button>
                <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="aceptarEliminacion(seccionEliminar)" >Eliminar</button>
            </div>
        </div>
    </div>
</div> <!--./modal de seccion-->
</div>
