<!--permite editar una seccion seleccionada-->    
<div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
</div>
<div class="panel panel-default cuandro_shadow" >
    <div class="panel-heading">
        <h3 class="panel-title">Seccion Edición</h3>
    </div>
    <div class="panel-body">
        <div data-ng-animate="'fade'" ng-init="cargar_seccion_id()">
            <form name="formSeccion" >
                <!-- NOMBRE -->
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : formSeccion.nombre_edit.$invalid && !formSeccion.nombre_edit.$pristine }">
                    <label>Nombre</label>
                    <input type="text" id="nombre_edit" value="{{seccionSeleccionada.nombre}}" 
                        name="nombre_edit" ng-model="seccionSeleccionada.nombre" 
                        class="form-control" id="textn" required>
                    <p ng-show="formSeccion.nombre_edit.$invalid && !formSeccion.nombre_edit.$pristine" class="help-block">Requiere un nombre.</p> <!--You name is required-->
                </div>
                                   
                <button type="submit" class="btn btn-info glyphicon glyphicon-floppy-disk" 
                        ng-click="actualizar_seccion(seccionSeleccionada)" 
                        ng-disabled="formSeccion.$invalid"> Guardar</button>
                <a  href="#!/ng-secciones" class="btn btn-warning  glyphicon glyphicon-remove" ng-click="ShowForm(); cargar_promociones()"> Cancelar</a>
            </form>
        </div>
    </div>
</div>

