<div data-ng-show="isAdministrador">
<!--GESTION DE UBICACIONES-->

<div ng-controller="AsgUbicacionCtrl" >
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div data-ng-animate="'fade'" ng-init="cargar_ubicaciones()">
        <div class="panel panel-default cuandro_shadow">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <center> Sección de Ubicaciones</center>
                </h3>
            </div>
            <div class="panel-body" ng-controller="SeccionesCtrl"> 
                <a ng-click="mostrarForm();cargar_secciones()"  ng-show="bottonVisibilityubicacion" 
                    class="btn btn-primary fa fa-plus"> Nueva</a>
                <div ng-show="formVisibility" data-ng-animate="'fade'">
                        
                    <div class="panel content_plom" >
                        <div class="panel-heading sombrear ">
                            <h3 class="panel-title">Nueva Ubicación</h3>
                        </div>
                        <form name="ubicaForm" ng-submit="guardar_ubicacion(ubicacion , seccion_select);
                                        ocultarForm()" novalidate>  
                            <div class="row">
                                <h1></h1> <!--separar-->
                            </div>
                            <div class="row">
                                <!--seccion-->
                         
                            <div class="col-lg-3">
                                <div class="bs-component">
                                    <div class="form-group">
                                        <label class="control-label">Seccion</label>
                                        <div class="input-group date " >
                                            <select class="form-control" ng-model="seccion_select" ng-options="seccion_select.nombre for seccion_select in secciones " required="true">
                                                <option value=""  >--Selecione una Sección--</option>
                                            </select> 
                                            <span class="input-group-addon"></span>
                                        </div>
                                        <div class="mensajesError"> {{mensaje_seccion}} </div> 
                                    </div>
                                </div>
                            </div> <!--/. seccion-->
                            
                             <div class="col-lg-2">
                                    <!-- numero piso -->
                                    <div class="form-group" ng-class="{ 'has-error' : ubicaForm.numero_Piso.$invalid && !ubicaForm.numero_Piso.$pristine }">
                                        <label>Piso </label>
                                        <input id="numero_Piso" type="number" min="1" step="1" 
                                            name="numero_Piso" 
                                            class="form-control" 
                                            ng-model="ubicacion.numeroPiso" required  
                                            ng-maxlength="3" placeholder="Ingrese un número">
                                        <p ng-show="ubicaForm.numero_Piso.$invalid && !ubicaForm.numero_Piso.$pristine" class="help-block">invalido.</p><!--You name is required-->
                                        <p ng-show="ubicaForm.numero_Piso.$error.maxlength" 
                                            class="help-block"> longitud máxima 3 .</p> <!--cantidad maxima de ingreso-->
                                    </div> 
                                </div>
                                <div class="col-lg-2">
                                    <!-- numero corredor -->
                                    <div class="form-group" ng-class="{ 'has-error' : ubicaForm.corredor_n.$invalid && !ubicaForm.corredor_n.$pristine }">
                                        <label>Corredor</label>
                                        <input  min="1" step="1" id="corredor_n" 
                                            type="number" name="corredor_n" class="form-control" 
                                            ng-model="ubicacion.corredor" 
                                            ng-maxlength="3" required 
                                            placeholder="Ingrese un número">

                                        <p ng-show="ubicaForm.corredor_n.$invalid && !ubicaForm.corredor_n.$pristine" class="help-block">inválido.</p> 
                                        <p ng-show="ubicaForm.corredor_n.$error.maxlength" class="help-block"> longitud máxima 3 .</p> <!--cantidad maxima de ingreso-->
                                    </div>  
                                </div>
                            
                                   <div class="col-lg-2">
                                    <!-- pasillo -->
                                    <div class="form-group" ng-class="{ 'has-error' : ubicaForm.pasillo_u.$invalid && !ubicaForm.pasillo_u.$pristine }">
                                        <label>Pasillo</label>
                                        <input id="pasillo_u" type="number"  min="1" step="1" 
                                            name="pasillo_u" class="form-control" 
                                            ng-model="ubicacion.pasillo" required 
                                            ng-maxlength="3" placeholder="Ingrese un número">
                                        <p ng-show="ubicaForm.pasillo_u.$invalid && !ubicaForm.pasillo_u.$pristine" class="help-block">invalido.</p> <!--You name is required-->
                                        <p ng-show="ubicaForm.pasillo_u.$error.maxlength" class="help-block"> longitud máxima 3 .</p> <!--cantidad maxima de ingreso-->
                                    </div> 
                                </div>
                            
                                <div class="col-lg-2">
                                    <!-- numero estante -->
                                    <div class="form-group" ng-class="{ 'has-error' : ubicaForm.numero_Estante.$invalid && !ubicaForm.numero_Estante.$pristine }">
                                        <label>Estante</label>
                                        <input id="numero_Estante"  min="1" step="1" type="number"  name="numero_Estante" class="form-control" 
                                            ng-value="{{ubicacion.numeroEstante}}" 
                                            ng-model="ubicacion.numeroEstante" 
                                            ng-maxlength="3"
                                            required placeholder="Ingrese un número">
                                        <p ng-show="ubicaForm.numero_Estante.$invalid && !ubicaForm.numero_Estante.$pristine" class="help-block">invalido.</p> <!--You name is required-->
                                        <p ng-show="ubicaForm.numero_Estante.$error.maxlength" class="help-block"> longitud máxima 3 .</p> <!--cantidad maxima de ingreso-->
                                    </div> 
                                </div>
                            </div>
                            <br/>
                            <center>
                                <button type="submit" class="btn btn-primary fa fa-floppy-o" 
                                    ng-disabled="ubicaForm.$invalid"> Guardar</button>    
                                <button type="reset" class="btn btn-warning fa fa-times" 
                                    ng-click="mostrarForm()"> Cancelar</button>    
                            </center>
                            <br/>
                        </form>        
                    </div>
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Sección</th>
                            <th>Piso</th>
                            <th>Corredor</th>
                            <th>Pasillo</th>
                            <th>Estante</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="ubicacion in ubicaciones">

                            <td><a href="#!/ng-ubicacion-edi/{{ubicacion.cod_ubicacion}}"  class="btn btn-primary" ><i class="fa fa-pencil-square-o">Editar</i></a></td>
                            <td>{{ubicacion.nombre}}</td>
                            <td>{{ubicacion.numeroPiso}}</td>
                            <td> {{ubicacion.corredor}}</td>
                            <td>{{ubicacion.pasillo}}</td>
                            <td>{{ubicacion.numeroEstante}}</td>
                            <td>
                                <a data-toggle="modal" data-target="#source-modal" class="btn btn-info fa fa-plus " ng-click="ubicacionSelect(ubicacion)"> Agregar Productos</a>
                            </td>
                            <td>
                                <a href="#!/ng-productos-ubicacion/{{ubicacion.cod_ubicacion}}" class="btn btn-info glyphicon glyphicon-eye-open" > Ver</a>
                            </td>
                            <td>
                                <button class="btn btn-danger glyphicon glyphicon-trash" ng-click="eliminar_ubicacion_id(ubicacion)"> </button>
                                <!--<angular-smartconfirm confirm="eliminar_ubicacion_id(ubicacion)"/>-->
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!--modal para buscar productos-->
    <div id="source-modal" class="modal fade"   >
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" 
                        data-dismiss="modal" 
                        aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Buscar Productos</h4>
                    <form>
                        <div class="form-group">
                            <input type="text" ng-model="texto_buscar" 
                                ng-value="{{texto_buscar}}" class="form-control" 
                                placeholder="Buscar nombre producto o codigo de barra">
                        </div>
                        <button type="submit" 
                            class="btn btn-default" 
                            ng-click="buscar_productos()">buscar</button>
                    </form>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>codigo barra</th>
                                    <th>nombre</th>
                                    <th>precio</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody >
                                <tr  ng-repeat="producto in productos_buscados">
                                    <td>
                                        <div ng-if="producto.imagen">
                                            <img style="width: 100px ; height: 100px ; min-width: 100px" src="img/files/{{producto.imagen}}" alt="producto" class="img-thumbnail">
                                        </div>
                                    </td>
                                    <td style="line-height: 100px">{{producto.cod_barras_prod}} </td>
                                    <td style="line-height: 100px"> {{producto.nom_prod}}</td>
                                    <td style="line-height: 100px"> {{producto.pvp_prod}}</td>
                                    <td>
                                        <button class="btn btn-info fa fa-plus" ng-click="guardar_ubicaciones_asg(producto)">Agregar</button>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--./ modal de buscar productos-->

    <!--modal alerta al eliminar productos-->
    <div id="source-modal-delete-ubicacion" class="modal fade">
        <div class="modal-dialog modal-content">
            <div class= "modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">¿Desea Eliminar? </h4>
                </div>
                <div class="modal-body">
                    <div class="table-responsive">
                        La ubicacion contiene productos asigandos..!!!
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Corredor</th>
                                        <th>Numero Estante</th>
                                        <th>Pasillo</th>
                                        <th>Piso</th>
                                    </tr>
                                </thead>
                                <tbody >
                                    <tr>
                                        <td>{{ubicacionSelectEliminar.cod_ubicacion}}</td>
                                        <td>{{ubicacionSelectEliminar.corredor}}</td>
                                        <td>{{ubicacionSelectEliminar.numeroEstante}}</td>
                                        <td>{{ubicacionSelectEliminar.pasillo}}</td>
                                        <td>{{ubicacionSelectEliminar.numeroPiso}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--botones-->
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class=" btn btn-warning">Cancelar</button>
                    <button type="button" data-dismiss="modal" class="btn btn-primary" ng-click="elimarUbicacionModal(ubicacionSelectEliminar)">Eliminar</button>
                </div>
            </div>
        </div>
    </div> <!--./modal alerta-->
</div>
</div>
