<div ng-controller="SeccionesCtrl">
    <div class="page-header" id="banner"> <!--para separar el contenedor del menu principal-->
    </div>
    <div data-ng-animate="'fade'" ng-init="cargar_ubicacion_id() ; cargar_secciones()">

        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Editar Ubicacion</h3>
            </div>   
            <!--formulario de edicion de ubicacion-->
            <form role="form" name="ubicacionForm" ng-repeat="ubicacion in ubicacionSleccionada">
                <!-- corredor -->
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : ubicacionForm.corredor_edit.$invalid && !ubicacionForm.corredor_edit.$pristine }">
                    <label for="textn">Corredor</label>
                    <input  min="1" step="1"  id="corredor_edit" type="number" name="corredor_edit" class="form-control" ng-model="ubicacion.corredor" required ng-maxlength="3">
                    <p ng-show="ubicacionForm.corredor_edit.$invalid && !ubicacionForm.corredor_edit.$pristine" class="help-block">Invalido.</p> <!--You name is required-->
                    <p ng-show="ubicacionForm.corredor_edit.$error.maxlength" class="help-block"> longitud máxima 3 .</p> <!--cantidad maxima de ingreso-->
                </div>
                <!--pasillo-->
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : ubicacionForm.pasillo_edit.$invalid && !ubicacionForm.pasillo_edit.$pristine }">
                    <label for="textn">Pasillo</label>
                    <input id="pasillo_edit" type="number" name="pasillo_edit" class="form-control" ng-model="ubicacion.pasillo" required min="1" step="1" ng-maxlength="3">
                    <p ng-show="ubicacionForm.pasillo_edit.$invalid && !ubicacionForm.pasillo_edit.$pristine" class="help-block">Invalido.</p> <!--You name is required-->
                    <p ng-show="ubicacionForm.pasillo_edit.$error.maxlength" class="help-block"> longitud máxima 3 .</p> <!--cantidad maxima de ingreso-->
                </div>
                <!--numero de estante-->
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : ubicacionForm.numeroEstante_edit.$invalid && !ubicacionForm.numeroEstante_edit.$pristine }">
                    <label for="textn">Numero Estante</label>
                    <input id="numeroEstante_edit" type="number" name="numeroEstante_edit" class="form-control" ng-model="ubicacion.numeroEstante" required min="1" step="1" ng-maxlength="3">
                    <p ng-show="ubicacionForm.numeroEstante_edit.$invalid && !ubicacionForm.numeroEstante_edit.$pristine" class="help-block">Invalido.</p> <!--You name is required-->
                    <p ng-show="ubicacionForm.numeroEstante_edit.$error.maxlength" class="help-block"> longitud máxima 3 .</p> <!--cantidad maxima de ingreso-->
                </div>
                <!--numero de piso -->
                <div class="form-group col-lg-12" ng-class="{ 'has-error' : ubicacionForm.numeroPiso_edit.$invalid && !ubicacionForm.numeroPiso_edit.$pristine }">
                    <label for="textn">Numero Piso</label>
                    <input id="numeroPiso_edit" type="number" name="numeroPiso_edit" class="form-control" ng-model="ubicacion.numeroPiso" required min="1" step="1" ng-maxlength="3">
                    <p ng-show="ubicacionForm.numeroPiso_edit.$invalid && !ubicacionForm.numeroPiso_edit.$pristine" class="help-block">Invalido.</p> <!--You name is required-->
                    <p ng-show="ubicacionForm.numeroPiso_edit.$error.maxlength" class="help-block"> longitud máxima 3 .</p> <!--cantidad maxima de ingreso-->
                </div>
                <!--secciones-->
                <div class="form-group col-lg-12" >
                    <label for="textn">Sección Actual : {{ubicacion.nombre}}</label>
                    <div class="input-group date " >
                        <select class="form-control" ng-model="seccion_seleccionada" ng-options="seccion_select.nombre for seccion_select in secciones " >
                            <option value=""  ></option>
                        </select> 
                        <span class="input-group-addon"></span>
                    </div>
                </div>

                <center>
                    <button type="submit" class="btn btn-primary glyphicon glyphicon-save"  ng-disabled="ubicacionForm.$invalid" ng-click="actualizar_ubicacion(ubicacion , seccion_seleccionada)">Guardar</button>
                    <a  class="btn btn-warning glyphicon glyphicon-remove" href="#!/ng-ubicacion" >Cancelar</a>
                </center>
                <br>
            </form><!--./edicion de ubicacion-->
        </div>
    </div>
</div>
