<!DOCTYPE html>
<html lang="en" data-ng-app="App" data-ng-controller="InicioCtrl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Shop-List</title>

    <!-- Bootstrap Core CSS -->
    <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <!--alerta-->
    <link rel="stylesheet" type="text/css" href="bower_components/sweetalert/dist/sweetalert.css">

    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!--carga efectos-->
    <link rel="stylesheet" type="text/css" href="./css/app.css" />
    <!--animaciones-->
    <link rel="stylesheet" href="css/animate.css">
    <!--loading-->
    <link rel="stylesheet" type="text/css" href="//rawgithub.com/darthwade/angular-loading/master/angular-loading.css"/>
    <!--notificaciones-->
    <link href="librerias/notify/angular-notify.css" rel="stylesheet"/>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" 
                    data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                <center>
                    <img data-ng-show="mostrargif_loading" src="img/loading-circle.gif" height="30" width="30">
                </center>
                Shop List</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services" >Servicios</a>
                    </li>
                    <!--<li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>-->
                    <li>
                        <a class="page-scroll" href="#about">Acerca de Nosotros</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Equipo</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#apps">Apps</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contáctanos</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#login">Inicio</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header ng-if="showheader">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in">Bienvenido A Nuestro Sistema !</div>
                <div class="intro-heading">La mejor elección para dar a conocer tus productos.</div>
                
            </div>
        </div>
    </header>


    <!-- Login Section -->

    <div class="animated bounceInLeft"
         data-ng-show="formVisibility"
         data-ng-include="'./com/index/view/login.html'">
    </div>

    <!--olvidaste contrasenia-->

    <div class="animated bounceInLeft" 
         data-ng-show="formVisibilityRecuperacion" 
         data-ng-include="'./com/index/view/component/recuperar-clave.html'">
    </div>

    <!--contrasenia fase 2-->
    <div class="animated bounceInLeft" 
        data-ng-show="form_recuperacion" 
        data-ng-include="'./com/index/view/component/recuperar-clave-2.html'">
    </div>

    <!-- recuperacion correcta-->
    <div class="animated bounceInLeft" 
        data-ng-show="form_mensaje_correcto" 
        data-ng-include="'./com/index/view/component/mensaje-correcto.html'">
    </div>

    <!-- recuperacion incorrecta-->
    <div class="animated bounceInLeft" 
        data-ng-show="form_mensaje_error" 
        data-ng-include="'./com/index/view/component/mensaje-error.html'">
    </div>

    <!-- Registrar empresa -->
    <div class="animated bounceInUp" 
        data-ng-show="formRegistrarse"
        data-ng-include="'./com/index/view/registrar-empresa.html'">
    </div>


    <!-- Services Section -->
    <div data-ng-include="'./com/index/view/servicios.html'">
    </div>

    <!-- About Section -->
    <div data-ng-include="'./com/index/view/acerca-nosotros.html'">
    </div>
    
    <!-- Team Section -->
    <div data-ng-include="'./com/index/view/equipo.html'">
    </div>

    <!-- Apps -->
    <div data-ng-include="'./com/index/view/apps.html'">
    </div>

    
    <!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row" ng-controller="SupermercadosCtrl" ng-init="getSupermercados()">
                <div class="col-md-3 col-sm-6" ng-repeat="key in listasupermercados">
                    <a href="#">
                        <!--<img src="img/logos/supermaxi-logo.png" class="img-responsive img-centered" alt="">-->
                        <h1 class="clientes-nombres">{{key.nombre}}</h1>
                    </a>
                </div>
            </div>
        </div>
    </aside>
    
    <!-- Contact Section -->
    <div data-ng-include="'./com/index/view/contactanos.html'">
    </div>

    <!--terminos y condiciones-->
    <section id="politica"
             ng-if="activarterminos">
    <center>
        <div
             class="animated bounceInLeft">
            <iframe id="fred" style="border:1px solid #666CCC" 
                    title="PDF in an i-Frame"
                    src="/recursos/shoplist.pdf"
                    frameborder="1"
                    scrolling="auto"
                    height="1100"
                    class="politica-privacidad" 
                    width="850">
            </iframe>
        </div>
    </center>
    </section>

    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; Shop-List 2016</span>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#!" ng-click="mostratTerminos()">
                            Políticas de privacidad</a>
                        </li>
                        <li><a href="#!" ng-click="mostratTerminos()">
                            Términos y uso</a>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

 

    <!--variables globales-->
    <script src="./js/configVariables.js" ></script>

    <!-- jQuery -->
    <script src="librerias/jquery/js/jquery-1.10.2.min.js"></script> <!---menu-->

    <!-- Bootstrap Core JavaScript -->
    <script src="librerias/vendor/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="librerias/classie.js"></script>
    <script src="librerias/cbpAnimatedHeader.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="librerias/agency.js"></script>

    <script src="librerias/angular.min_1.1.5.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/controller.js"></script>
    <script src="com/superuser/controllers/super-controller.js"></script>
    <!--Services-->
    <script src="com/superuser/services/super-service.js"></script>
    <!--notificaciones-->
    <script src="librerias/notify/angular-notify.js"></script>
    <!--local store-->
    <script src="librerias/angular-local-storage.min.js"></script>
    <!--confirm delete-->
    <script src="js/angular-smartconfirm.js"></script>
    <!--calendar-->
    <script src="librerias/datepicker/src/js/angular-datepicker.js"></script>
    <!--select-->
    <script type="text/javascript" src="librerias/acute.select/acute.select.js"></script>
    <!--loading-->
    <script src="//cdnjs.cloudflare.com/ajax/libs/spin.js/1.2.7/spin.min.js"></script>
    <script src="//rawgithub.com/darthwade/angular-loading/master/angular-loading.min.js"></script>
    <!--directive-->
    <script src="com/index/directive/directiveFocus.js"></script>
    <!--alerta-->
    <script src="bower_components/sweetalert/dist/sweetalert.min.js"></script> 
</body>

</html>
