<div class="panel panel-info animated bounceInUp cuandro_shadow">
    <div class="panel-heading">
        <h3 class="panel-title"> Agregar Productos  </h3>
     </div>
     <div class="table-responsive">

        <form name="productoForm" novalidate>

            <div class="form-group col-lg-12">
                <h4>Cargar imagen</h4>

                    <div class="row">
                        <div class="col-md-offset-4 col-md-4">
                            <div class="row">
                                <div class="col-md-offset-2 col-md-8">
                                    <div style="margin-bottom: 10px; margin-top:10px;">
                                        <img src="" id="imgPreview" class="img-rounded" alt="No imagen" 
                                        width="320" height="210">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-offset-4 col-md-6">
                                    <div class="subeArchivo btn btn-primary btn-block"> <span>Subir Imagen</span>
                                        <input type="file" class="subir" accept="image/*" id='imgInput'  onchange="angular.element(this).scope().cargaImagen()" style="width:100%"/>
                                    </div>
                                </div>
                            </div>
                   
                        </div>
                    </div>
            </div>
            
            <div class="btn-group btn-group-justified">
                <div class="btn-group" style="padding: 12px;"  ng-class="{ 'has-error' : 
                        productoForm.nom_prod.$invalid && !productoForm.nom_prod.$pristine }">

                    <h4>Nombre</h4>
                    <input  type="text" name="nom_prod" id="nom_prod" class="form-control" 
                        ng-model="producto.nom_prod" required>
                    <p ng-show="productoForm.nom_prod.$invalid && !productoForm.nom_prod.$pristine" class="help-block">Requiere un valor.</p> <!--You nom_prod is required-->
                </div>
            </div>

            <div class="btn-group btn-group-justified">
                <div class="btn-group" style="padding: 12px;" >
                    <h4>Código producto</h4>
                    <input  type="text" name="cod_prod" id="cod_prod" class="form-control" 
                        ng-model="producto.cod_prod" ng-value="{{producto.cod_prod}}">
                </div>
                <div class="btn-group" style="padding: 12px;">
                    <h4>Código barras</h4>
                    <input  type="text" name="cod_barras_prod" id="cod_barras_prod" class="form-control" ng-model="producto.cod_barras_prod" >          
                </div>
            </div>


            <div class="btn-group btn-group-justified">
                <div class="btn-group" style=" padding: 12px;"  ng-class="{ 'has-error' : 
                    productoForm.cant_prod.$invalid && !productoForm.cant_prod.$pristine }">
                            
                    <h4>Cantidad</h4>
                    <input  type="text" name="cant_prod" id="cant_prod" class="form-control" 
                            ng-model="producto.cant_prod" required>

                    <p ng-show="productoForm.cant_prod.$invalid && !productoForm.cant_prod.$pristine" class="help-block">Requiere un valor.</p> <!--You cant_prod is required-->

                </div>
                <div class="btn-group" style="padding: 12px;" ng-class="{ 'has-error' : 
                    productoForm.costo_prod.$invalid && !productoForm.costo_prod.$pristine }">
                    <h4>Costo</h4>
                    <input  type="text" name="costo_prod" id="costo_prod" class="form-control" 
                        ng-model="producto.costo_prod" required>
                    <p ng-show="productoForm.costo_prod.$invalid && !productoForm.costo_prod.$pristine" class="help-block">Requiere un valor.</p> <!--You costo_prod is required-->
                </div>
            </div>

            <div class="btn-group btn-group-justified">
                <div class="btn-group" style=" padding: 12px;"  ng-class="{ 'has-error' : 
                    productoForm.pvp_prod.$invalid && !productoForm.pvp_prod.$pristine }">

                    <h4>PVP</h4>
                    <input  type="text" name="pvp_prod" id="pvp_prod" class="form-control" 
                            ng-model="producto.pvp_prod" required>
                    <p ng-show="productoForm.pvp_prod.$invalid && !productoForm.pvp_prod.$pristine" class="help-block">Requiere un valor.</p> <!--You pvp_prod is required-->

                </div>
                <div class="btn-group" style="padding: 12px;">
                    <h4>Iva</h4>
                    <input  type="text" name="iva_prod" id="iva_prod" class="form-control"
                            ng-model="producto.iva_prod">
                </div>
            </div>


            <div class="btn-group btn-group-justified">
                <div class="btn-group" style="padding: 12px;" >
                    <h4>Codigo Marca</h4>
                    <input  type="text" name="cod_marca" id="cod_marca" class="form-control" 
                        ng-model="producto.cod_marca">
                </div>
                <div class="btn-group" style="padding: 12px;">
                    <h4>Tiempo Garantia</h4>
                    <input type="text" name="tiempo_garantia" id="tiempo_garantia" class="form-control" ng-model="producto.tiempo_garantia">
                </div>
            </div>

            <div class="form-group col-lg-12">
                <button  type="submit" ng-show="isGuardado" class="btn btn-primary fa fa-floppy-o col-lg-3" ng-disabled="productoForm.$invalid" ng-click="guardar_producto(producto)"> Guardar</button>

                <button  type="submit" ng-show="isEditado" class="btn btn-primary fa fa-floppy-o col-lg-3" 
                         ng-disabled="productoForm.$invalid" 
                         ng-click="actualizar_producto(producto)"> Guardar Editado</button>

                <button  style="margin-left: 12px;" type="reset" ng-click="activarFormProducto()"
                         class="btn btn-warning fa fa-times col-lg-3"> Cancelar</button>
            </div>
        </form>

    </div>
</div>