<div class="btn-group btn-group-justified" role="group" aria-label="...">
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" 
      ng-click="cambiarEstado('estado_inicial' , value[1].lista, value)"
      ng-disabled="estadoLista === 'estado_inicial'">inicial</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" 
    ng-click="cambiarEstado('estado_proceso' , value[1].lista, value)"
    ng-disabled="estadoLista === 'estado_proceso'">proceso</button>
  </div>
  <div class="btn-group" role="group">
    <button type="button" class="btn btn-default" 
    ng-click="cambiarEstado('estado_despachada' , value[1].lista, value)"
    ng-disabled="estadoLista === 'estado_despachada'">despachada</button>
  </div>
</div>