<!--modal para buscar productos-->
<div id="source-modal-productos" class="modal fade">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Detalles de producto</h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">

                    <div class="panel panel-info">
                        <div class="panel-heading">
            <!--<h3 class="panel-title"> Detalle del producto  </h3>-->
         </div>
         <div class="table-responsive">

            <form name="productoForm" novalidate>

                 <div class="form-group col-lg-12 text-center">
                   <div ng-if="producto.imagen">
                        <img style="width: 100px ; height: 100px ; min-width: 100px" 
                            src="img/files/{{producto.imagen}}" alt="producto" class="img-thumbnail">
                    </div>
                </div>

                <div class="btn-group btn-group-justified">
                    <div class="btn-group" style=" padding: 12px;" >
                        <h4>Código producto</h4>
                        <label  type="text" name="cod_prod" id="cod_prod" class="form-control" 
                            ng-model="producto.cod_prod" > {{producto.cod_prod}}</label>
                    </div>
                    <div class="btn-group">
                        <h4>Código barras</h4>
                        <label  type="text" name="cod_barras_prod" id="cod_barras_prod" class="form-control" >{{producto.cod_barras_prod}} </label>         
                    </div>
                </div>

                <div class="btn-group btn-group-justified">
                    <div class="btn-group" style=" padding: 12px;" >
                        <h4>Nombre</h4>
                        <label  type="text" name="nom_prod" id="nom_prod" class="form-control" 
                            > {{producto.nom_prod}} </label>
                    </div>
                </div>

                <div class="btn-group btn-group-justified">
                    <div class="btn-group" style=" padding: 12px;" >
                                
                        <h4>Cantidad</h4>
                        <label  type="text" name="cant_prod" id="cant_prod" class="form-control" 
                                > {{producto.cant_prod}} </label>
                    </div>
                    <div class="btn-group">
                        <h4>Costo</h4>
                        <label  type="text" name="costo_prod" id="costo_prod" class="form-control">
                        {{producto.costo_prod}}
                        </label>
                    </div>
                </div>

                <div class="btn-group btn-group-justified">
                    <div class="btn-group" style=" padding: 12px;">

                        <h4>PVP</h4>
                        <label  type="text" name="pvp_prod" id="pvp_prod" class="form-control">
                            {{producto.pvp_prod}}
                        </label>
                    </div>
                    <div class="btn-group">
                        <h4>Iva</h4>
                        <label  type="text" name="iva_prod" id="iva_prod" class="form-control"
                                > {{producto.iva_prod}} </label>
                    </div>
                </div>

                <div class="btn-group btn-group-justified">
                    <div class="btn-group" style=" padding: 12px;" >
                        <h4>Codigo Marca</h4>
                        <label  type="text" name="cod_marca" id="cod_marca" class="form-control" 
                            > {{producto.cod_marca}} </label>
                    </div>
                    <div class="btn-group">
                        <h4>Tiempo Garantia</h4>
                        <label type="text" name="tiempo_garantia" id="tiempo_garantia" class="form-control" > {{producto.tiempo_garantia}}</label>
                    </div>
                </div>

                <div class="form-group col-lg-12">              
                    <button  style="margin-left: 12px;" type="reset" data-dismiss="modal"
                             class="btn btn-warning glyphicon glyphicon-remove col-lg-3"> Atras</button>
                </div>
            </form>

        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>