<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Acerca de Nosotros</h2>
                <h3 class="section-subheading text-muted">Nuestra Historia empieza!.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Marzo-2015</h4>
                                <h4 class="subheading">Nuestros sencillos comienzos</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Despues de algunas reuniones decidimos conformar un equipo de trabajo!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive formatoAboutImg" src="img/about/2.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Abril 2015</h4>
                                <h4 class="subheading">Una empresa emprende</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Empezando con una idea para la gestion de compras en supermercados!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Diciembre 2015</h4>
                                <h4 class="subheading">Desarollo de sistema</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Emprendemos con un sistema Saas!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>Enero 2016</h4>
                                <h4 class="subheading">Segunda fase de propagación</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Nos encontramos mejorando los servicios para un mejor rendimiento!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Se parte 
                                <br>de Nuestra
                                <br>Historia!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>