    <section id="apps" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Apps</h2>
                    <h3 class="section-subheading text-muted">Descarga la app movil.</h3>
                </div>
            </div>
            <div class="row">
                </div>
                <a href="https://github.com/ralexsgomez/appsmoviles/blob/master/Shop-List_0.0.2.apk?raw=true">
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img src="img/android.jpg" class="img-responsive img-circle" 
                                  height="200" width="200">
                            <h4>Android</h4>
                        </div>
                    </div>
                </a>
                <a href="https://github.com/ralexsgomez/appsmoviles/raw/master/Shop-List-ios.tar">
                    <div class="col-sm-6">
                        <div class="team-member">
                            <img src="img/ios.png" class="img-circle"
                                height="200" width="200">
                            <h4>Ios</h4>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    