<section id="contact">
    <div dw-loading="email" 
        dw-loading-options="{text: 'Enviando mensaje favor espere...'}">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contactanos</h2>
                    <h3 class="section-subheading">
                        Tienes alguna duda o sugerencia escribenos, pronto nos comunicaremos contigo.
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <form name="sentMessage" id="contactForm" novalidate 
                        ng-submit="enviarCorreoSugerencia(sugerencia)">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" 
                                    ng-model="sugerencia.nombre"
                                    placeholder="Tu nombre *" id="name" 
                                    required data-validation-required-message="Please enter your name.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="email" class="form-control"
                                    ng-model="sugerencia.email"
                                    placeholder="Tu correo*" id="email"
                                    required data-validation-required-message="Please enter your email address.">
                                    <p class="help-block text-danger"></p>
                                </div>
                                <div class="form-group">
                                    <input type="tel" class="form-control"
                                    ng-model="sugerencia.telefono"
                                    placeholder="Tu telefono *" 
                                    id="phone" 
                                    required data-validation-required-message="Please enter your phone number.">
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Escribe tu mensaje *" 
                                    id="message"
                                    ng-model="sugerencia.mensaje"
                                    required data-validation-required-message="Please enter a message."></textarea>
                                    <p class="help-block text-danger"></p>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <div id="success"></div>
                                <button type="submit" class="btn btn-xl">Enviar mensaje</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>