    <section id="team" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Nuestro Equipo</h2>
                    <h3 class="section-subheading text-muted">El mayor paso, se encuentra dentro de ti.</h3>
                </div>
            </div>
            <div class="row">
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/2.jpg" class="img-responsive img-circle" 
                              height="200" width="200">
                        <h4>Raúl Gómez</h4>
                        <p class="text-muted">Desarrollador</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="team-member">
                        <img src="img/team/3.jpg" class="img-circle"
                            height="200" width="200">
                        <h4>Karina Barrionuevo</h4>
                        <p class="text-muted">Analista</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-linkedin"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <p class="large text-muted">
                    Los mejores placeres de la vida, es cuando luchas por lo que tu quieres conseguir, asi se encuentre en lo más alto. En el camino siempre daras pasos y obtendras caidas, pero para poder llegar a donde deseas realmente debes esforzarte, no sabes que tan lejos puedes llegar si nunca lo intentas.</p>
                </div>
            </div>
        </div>
    </section>