<section id="login">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <div id="loginModal">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                  <h1 class="text-center">Iniciar Sesión</h1>
              </div>
              <div class="modal-body">
                <form class="form col-md-12 center-block">
                  <div class="form-group">
                    <input type="text" class="form-control input-lg" 
                           data-ng-model="user.username" 
                           data-ng-change="changewrite()" placeholder="nombre de usuario">
                      <span style="color: red; font-size: 12px;">{{mensgError}}</span>
                  </div>
                  <div class="form-group">
                    <input type="password" 
                           class="form-control input-lg" 
                           placeholder="contraseña"
                           data-ng-model="user.password" 
                           data-ng-change="changewrite()">
                  </div>
                  <div class="form-group">
                    <button class="btn btn-primary btn-lg btn-block"
                            data-ng-click="login(user)">Entrar</button>

                    <span class="pull-right"><a href="#!" 
                          ng-click="showRegistrarse()">
                          Registrarse</a></span><span>

                    <a class="letras_blancas" 
                       data-ng-click="ShowForm() ;borrarDatosAlCargar()"
                       href="#!">
                       ¿Olvidaste tu contraseña?</a></span>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                  <div class="col-md-12">
                  </div>    
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>  
  </div>
</section>