<section id="empresa">
<div dw-loading="empresa" 
    dw-loading-options="{text: 'Creando esquema por favor espere...'}">

  <div class="container modal-content">   
    <div class="row">
      <form name="empresaFrom" novalidate>
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Regístrate</h2>
          <h3 class="section-subheading text-muted">En pocos segundos estaras con nosotros!.</h3>
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default modal-content">
            <div class="panel-heading">
              <h1 class="panel-title text-center">Supermercado</h1>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="form-group col-lg-12" 
                  ng-class="{ 'has-error' : empresaFrom.nombre.$invalid && 
                            !empresaFrom.nombre.$pristine }">

                  <h4>Nombre empresa</h4>
                  <input type="text" name="nombre" id="nombre" class="form-control" 
                        ng-model="empresa.nombre" required>

                  <p ng-show="empresaFrom.nombre.$invalid && 
                            !empresaFrom.nombre.$pristine" class="help-block">
                    Requiere un valor.</p> <!--You nombre usuario is required-->
                </div>
                      
                <div class="form-group col-lg-12" 
                ng-class="{ 'has-error' : empresaFrom.ubicacion.$invalid && !empresaFrom.ubicacion.$pristine }">

                  <h4>Ubicacion</h4>
                  <input  type="text" name="ubicacion" id="ubicacion" class="form-control" 
                          ng-model="empresa.ubicacion" required>

                  <p ng-show="empresaFrom.ubicacion.$invalid && 
                              !empresaFrom.ubicacion.$pristine" class="help-block">
                      Requiere un valor.</p> <!--You ubicacion is required-->
                </div>

                <div class="form-group col-lg-12" 
                     ng-class="{ 'has-error' : empresaFrom.nombrebd.$invalid && !empresaFrom.nombrebd.$pristine }">

                    <h4>Nombre base datos</h4>
                    <input type="text" name="nombrebd" id="nombrebd" class="form-control" 
                        ng-model="empresa.nombrebd" required ng-pattern="/^[a-zA-Z]*$/">

                    <p ng-show="empresaFrom.nombrebd.$invalid && 
                        !empresaFrom.nombrebd.$pristine" class="help-block">
                        Requiere un valor válido (solo letras sin espacios).</p> <!--You pasatiempo is required-->
                </div>
              </div>
            </div>
          </div>
            <!--./panel-->
        </div>
        <div class="col-sm-6">
          <div class="panel panel-default modal-content">
          <div class="panel-heading">
              <h1 class="panel-title text-center">Administrador</h1>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="form-group col-lg-12" 
                ng-class="{ 'has-error' : empresaFrom.adminNombreUsuario.$invalid && !empresaFrom.adminNombreUsuario.$pristine }">

                <h4>Nombre Usuario</h4>
                <input  type="text" name="adminNombreUsuario" id="adminNombreUsuario" 
                  class="form-control" ng-model="empresa.adminNombreUsuario" required
                  ng-blur = "validaUsername(empresa.adminNombreUsuario)">

                <span ng-show="existeUsuario" class="animated bounceInLeft" 
                  style="color: red; font-size: 12px;">Nombre de usuario no disponible</span>
                <p ng-show="empresaFrom.adminNombreUsuario.$invalid && 
                  !empresaFrom.adminNombreUsuario.$pristine" class="help-block">
                    Requiere un valor.</p> <!--You nombre usuario is required-->
            </div>
                    
            <div class="form-group col-lg-12" 
              ng-class="{ 'has-error' : empresaFrom.adminNombre.$invalid && !empresaFrom.adminNombre.$pristine }">

              <h4>Nombres</h4>
              <input  type="text" name="adminNombre" id="adminNombre" class="form-control"        ng-model="empresa.adminNombre" required>

              <p ng-show="empresaFrom.adminNombre.$invalid && 
                          !empresaFrom.adminNombre.$pristine" class="help-block">
                  Requiere un valor.</p> <!--You nombre usuario is required-->
            </div>
                      
            <div class="form-group col-lg-12" 
              ng-class="{ 'has-error' : empresaFrom.adminApellidos.$invalid && !empresaFrom.adminApellidos.$pristine }">

              <h4>Apellidos</h4>
              <input  type="text" name="adminApellidos" id="adminApellidos" 
                class="form-control" ng-model="empresa.adminApellidos" required>

              <p ng-show="empresaFrom.adminApellidos.$invalid && 
                !empresaFrom.adminApellidos.$pristine" class="help-block">
                  Requiere un valor.</p> <!--You ubicacion is required-->
            </div>

            <div class="form-group col-lg-12" 
                ng-class="{ 'has-error' : empresaFrom.adminCorreo.$invalid && 
                !empresaFrom.adminCorreo.$pristine }">

              <h4>Correo</h4>
              <input  type="email" name="adminCorreo" id="adminCorreo" class="form-control"
                ng-model="empresa.adminCorreo" required>

              <p ng-show="empresaFrom.adminCorreo.$invalid && 
                !empresaFrom.adminCorreo.$pristine" class="help-block">
                    Requiere un valor.</p> <!--You pasatiempo is required-->
            </div>

            <div class="form-group col-lg-12" 
                 ng-class="{ 'has-error' : empresaFrom.adminPassword.$invalid &&           !empresaFrom.adminPassword.$pristine }">

                <h4>Contraseña</h4>
                <input  type="password" name="adminPassword" id="adminPassword" 
                  class="form-control" ng-model="empresa.adminPassword" required>

                <p ng-show="empresaFrom.adminPassword.$invalid && 
                  !empresaFrom.adminPassword.$pristine" class="help-block">
                    Requiere un valor.</p> <!--You pasatiempo is required-->
            </div>
          </div>
        </div>
      </div>
    </div>

         <!--seleccionar servicios-->
    <div class="col-sm-3" ng-repeat="servi in servicios">
      <div class="panel panel-default modal-content">
        <div class="panel-heading">
          <h1 class="panel-title text-center">
            <button id="btn{{$index}}"  type="button" class="btn btn-primary" 
              ng-click="guardarServicio(servi)">
              <span class="text pull-left" name="fareOption">
              {{servi.selected?'Quitar':'Agregar'}}</span>
              <i ng-class="{'icon-placeholder':!servi.selected, 'selected-icon':servi.selected, 'pull-right':servi.selected}"></i>
            </button>
          </h1>
        </div>
        <div class="panel-body">
          <div class="thumbnail">
            <img src="img/push.png" width="110" height="80">
            <div class="caption text-center">
              <h6>{{servi.titulo}}</h6>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="form-group"
      ng-if = "showIdPaypal" 
      ng-class="{ 'has-error' : empresaFrom.id_paypal.$invalid && !empresaFrom.id_paypal.$pristine }">

    <div class="container">
      <div class="row">
        <div class="col-sm-2 topPaypal">
          <div>
            <h4>Id Paypal</h4>
          </div>
        </div>
        <div class="col-sm-8 topPaypal">
          <div class="input-group">
            <input  type="text" name="id_paypal" id="id_paypal" class="form-control" 
              ng-model="empresa.id_paypal" required>
            <p ng-show="empresaFrom.id_paypal.$invalid && 
              !empresaFrom.id_paypal.$pristine" class="help-block">
              Requiere un valor.</p> <!--You nombre usuario is required-->
            <span class="input-group-btn">
              <button class="btn btn-default" ng-click="mostrarInfo()" type="button">?</button>
            </span>
          </div><!-- /input-group -->
        </div>
        <div class="col-sm-2">
          <div class="input-group">
            <button class="btn btn-default" type="button">
              <a href="https://www.paypal.com/es/webapps/mpp/paypal-popup" title="Cómo funciona PayPal" 
                onclick="javascript:window.open('https://www.paypal.com/es/webapps/mpp/paypal-popup','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;"><img src="https://www.paypalobjects.com/webstatic/mktg/logo/pp_cc_mark_37x23.jpg" border="0" alt="PayPal Logo" /></a>
            </button>
          </div>
        </div>
      </div>
    </div>
</div>

  <div class="form-group"
      ng-if = "showAnalitica" 
      ng-class="{ 'has-error' : empresaFrom.id_analitica_paypal.$invalid && !empresaFrom.id_analitica_paypal.$pristine }">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 topPaypal">
          <div>
            <h4>Id Paypal</h4>
          </div>
        </div>
        <div class="col-sm-8 topPaypal">
          <div class="input-group">
            <input type="text" 
                   name="id_analitica_paypal" 
                   id="id_analitica_paypal" 
                   class="form-control"
                   ng-model="empresa.id_analitica_paypal" required>

            <p ng-show="empresaFrom.id_analitica_paypal.$invalid && 
              !empresaFrom.id_analitica_paypal.$pristine" class="help-block">
              Requiere un valor.</p> <!--You nombre usuario is required-->
            <span class="input-group-btn">
              <button class="btn btn-default" 
                ng-click="mostrarInfoAnalitica()" type="button">?</button>
            </span>
          </div><!-- /input-group -->
        </div>
      </div>
    </div>
  </div>

    
  <div class="modal-footer">
      <div class="col-md-12">
          <button class="btn modal-content" 
                  data-dismiss="modal" 
                  aria-hidden="true"
                  type="submit"
                  ng-click="guardar_empresa(empresa)"
                  ng-disabled="empresaFrom.$invalid"
                  >Enviar</button>
          <button class="btn modal-content" 
                  type="reset" 
                  data-dismiss="modal" 
                  aria-hidden="true"
                  ng-click="showRegistrarse()">
                  Cancelar
            </button>
      </div> 
    </div> 
</form>
<center>
  <!--<form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post" target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="MJ3U4FJNYERAJ">
    <input type="image" src="https://www.sandbox.paypal.com/es_XC/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal, la forma más segura y rápida de pagar en línea.">
    <img alt="" border="0" src="https://www.sandbox.paypal.com/es_XC/i/scr/pixel.gif" width="1" height="1">
  </form>-->

  <form action="https://www.sandbox.paypal.com/cgi-bin/webscr"
        method="post"
        ng-if = "showAnalitica"
        target="_top">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="ZPHBHSPQZCSYN">
    <input type="image"
           src="https://www.sandbox.paypal.com/es_XC/i/btn/btn_buynowCC_LG.gif" 
           border="0" name="submit"
           alt="PayPal, la forma más segura y rápida de pagar en línea.">

    <img alt="" border="0"
         src="https://www.sandbox.paypal.com/es_XC/i/scr/pixel.gif"
         width="1" height="1">
  </form>
</center>
</div>
</div>

</div>
</section>