<nav class="navbar navbar-fondo navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed menu_boton" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar icon_menu"></span>
                <span class="icon-bar icon_menu"></span>
                <span class="icon-bar icon_menu"></span>
            </button>
            <a class="navbar-brand letras_blancas">
                <center>
                    <img data-ng-show="mostrargif_loading" src="img/loading-circle.gif" height="30" width="30">
                </center>
               Sistema
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <form class="navbar-form navbar-right">
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-9" style="color: white">
                            Nombre de usuario
                        </div>
                    </div>
                    <input type="text" placeholder="username" class="form-control" name="username" 
                        data-ng-model="username" data-ng-change="changewrite()">
                    <div class="row">
                        <div class="col-lg-9">
                           {{punto}} <div style="color: red; font-size: 12px;">{{mensgError}}</div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-9" style="color: white">
                            Contraseña
                        </div>
                    </div>

                    <input type="password" placeholder="Password" class="form-control" name="password"  
                        data-ng-model="password" data-ng-change="changewrite()">

                    <div class="row">
                        <div class="col-lg-11">
                            <a class="letras_blancas" data-ng-click="ShowForm() ;borrarDatosAlCargar()"
                            style="font-size: 13px">
                            ¿Olvidaste tu contraseña?</a>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-lg-9">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary"data-ng-click="login()">Entrar</button>
                </div>
            </form>
        </div><!--/.navbar-collapse -->
    </div>
</nav>